<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>N</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.dash</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>equal</string>
      <string>plus</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.dash</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>equal</string>
      <string>plus</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>vertical_off</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>ampersand</string>
      <string>asterisk</string>
      <string>at</string>
      <string>colon</string>
      <string>comma</string>
      <string>eight</string>
      <string>exclam</string>
      <string>five</string>
      <string>four</string>
      <string>nine</string>
      <string>numbersign</string>
      <string>one</string>
      <string>percent</string>
      <string>period</string>
      <string>question</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>semicolon</string>
      <string>seven</string>
      <string>six</string>
      <string>space</string>
      <string>three</string>
      <string>two</string>
      <string>zero</string>
    </array>
    <key>vertical_sorts_off</key>
    <array>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
    </array>
  </dict>
</plist>
