<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>four</key>
      <integer>-35</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-10</integer>
      <key>public.kern2.percent</key>
      <integer>-30</integer>
      <key>public.kern2.plus</key>
      <integer>-10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-10</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>four</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>three</key>
      <integer>-5</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>less</key>
      <integer>-30</integer>
      <key>public.kern2.dash</key>
      <integer>-40</integer>
      <key>public.kern2.percent</key>
      <integer>-60</integer>
      <key>public.kern2.plus</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-15</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.dash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.dash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.dash</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-35</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.dash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-25</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>backslash</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-15</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-15</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.dash</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-40</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-25</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Z</key>
      <integer>-5</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.dash</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-15</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-5</integer>
      <key>public.kern2.dash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.dash</key>
    <dict>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2.I</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.plus</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-25</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-5</integer>
      <key>greater</key>
      <integer>-10</integer>
      <key>less</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>four</key>
      <integer>-10</integer>
      <key>public.kern2.percent</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>three</key>
      <integer>-5</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>eight</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>four</key>
      <integer>-10</integer>
      <key>less</key>
      <integer>-20</integer>
      <key>public.kern2.percent</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-5</integer>
      <key>less</key>
      <integer>-10</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>three</key>
      <integer>-5</integer>
    </dict>
  </dict>
</plist>
