<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>inline</string>
      <string>glyphs.inline</string>
    </array>
    <array>
      <string>regular</string>
      <string>glyphs.regular</string>
    </array>
    <array>
      <string>outline</string>
      <string>glyphs.outline</string>
    </array>
    <array>
      <string>shade</string>
      <string>glyphs.shade</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>inlineContour</string>
      <string>glyphs.inlineC_ontour</string>
    </array>
    <array>
      <string>metrics</string>
      <string>glyphs.metrics</string>
    </array>
  </array>
</plist>
