<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_A.salt</key>
	<array>
		<string>A.salt</string>
		<string>Aogonek.salt</string>
		<string>Abreve.salt</string>
		<string>Eng</string>
		<string>Aacute.salt</string>
		<string>M.salt</string>
		<string>Ncaron.salt</string>
		<string>Acircumflex.salt</string>
		<string>Adieresis.salt</string>
		<string>Amacron.salt</string>
		<string>Aring.salt</string>
		<string>Ntilde.salt</string>
		<string>Agrave.salt</string>
		<string>N.salt</string>
		<string>Nacute.salt</string>
		<string>Ncommaaccent.salt</string>
		<string>Atilde.salt</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Cacute</string>
		<string>Cdotaccent</string>
		<string>C</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>AE.salt</string>
		<string>Ecircumflex</string>
		<string>Ebreve</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>E</string>
		<string>Ecaron</string>
		<string>OE</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>E.salt</string>
		<string>Eacute.salt</string>
		<string>Ebreve.salt</string>
		<string>Ecaron.salt</string>
		<string>Ecircumflex.salt</string>
		<string>Edieresis.salt</string>
		<string>Edotaccent.salt</string>
		<string>Egrave.salt</string>
		<string>Emacron.salt</string>
		<string>Eogonek.salt</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>Iacute.salt</string>
		<string>Hcircumflex</string>
		<string>Igrave.salt</string>
		<string>Ntilde</string>
		<string>Idieresis.salt</string>
		<string>Ibreve.salt</string>
		<string>Idotaccent.salt</string>
		<string>Iogonek.salt</string>
		<string>I.salt</string>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Hbar</string>
		<string>Icircumflex.salt</string>
		<string>Nacute</string>
		<string>Itilde.salt</string>
		<string>Imacron.salt</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>Idieresis</string>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>I</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Ibreve</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Otilde</string>
		<string>Dcaron</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Dcroat</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Obreve</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>Umacron</string>
		<string>W.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wgrave.salt</string>
		<string>Wdieresis.salt</string>
		<string>J</string>
		<string>IJ.salt</string>
		<string>IJ</string>
		<string>U</string>
		<string>Wacute.salt</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Jcircumflex</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uacute</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Y.salt</key>
	<array>
		<string>Yacute.salt</string>
		<string>Ygrave.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Y.salt</string>
		<string>Ydieresis.salt</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
		<string>Z</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>perthousand</string>
		<string>percent</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>Atilde</string>
		<string>AE</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Agrave</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_A.salt</key>
	<array>
		<string>Amacron.salt</string>
		<string>Aogonek.salt</string>
		<string>Abreve.salt</string>
		<string>Eng</string>
		<string>Aacute.salt</string>
		<string>M.salt</string>
		<string>Ncaron.salt</string>
		<string>Acircumflex.salt</string>
		<string>Adieresis.salt</string>
		<string>AE.salt</string>
		<string>A.salt</string>
		<string>Ntilde.salt</string>
		<string>Agrave.salt</string>
		<string>N.salt</string>
		<string>Nacute.salt</string>
		<string>Ncommaaccent.salt</string>
		<string>Atilde.salt</string>
		<string>Aring.salt</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>Ecircumflex</string>
		<string>Ebreve</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>E</string>
		<string>Edotaccent</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>Iacute.salt</string>
		<string>Racute</string>
		<string>Kcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Rcaron</string>
		<string>Igrave.salt</string>
		<string>Ntilde</string>
		<string>Lacute</string>
		<string>Idieresis.salt</string>
		<string>Lslash</string>
		<string>Ibreve.salt</string>
		<string>Imacron.salt</string>
		<string>Idotaccent.salt</string>
		<string>Iogonek.salt</string>
		<string>Rcommaaccent</string>
		<string>I.salt</string>
		<string>Thorn</string>
		<string>B</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>M</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>IJ.salt</string>
		<string>R</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Hbar</string>
		<string>Nacute</string>
		<string>Lcommaaccent</string>
		<string>Itilde.salt</string>
		<string>Icircumflex.salt</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>Itilde</string>
		<string>Ibreve</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>I</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Dcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>G</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Dcroat</string>
		<string>OE</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Oacute</string>
		<string>Cdotaccent</string>
		<string>C</string>
		<string>Ograve</string>
		<string>Obreve</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
		<string>E.salt</string>
		<string>Eacute.salt</string>
		<string>Ebreve.salt</string>
		<string>Ecaron.salt</string>
		<string>Ecircumflex.salt</string>
		<string>Edieresis.salt</string>
		<string>Edotaccent.salt</string>
		<string>Egrave.salt</string>
		<string>Emacron.salt</string>
		<string>Eogonek.salt</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>Umacron</string>
		<string>W.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wgrave.salt</string>
		<string>Uhungarumlaut</string>
		<string>U</string>
		<string>Wacute.salt</string>
		<string>Udieresis</string>
		<string>Wdieresis.salt</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uacute</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Ydieresis</string>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_Y.salt</key>
	<array>
		<string>Yacute.salt</string>
		<string>Ygrave.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Y.salt</string>
		<string>Ydieresis.salt</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>perthousand</string>
		<string>percent</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>vertical</key>
	<array>
		<string>space.v</string>
		<string>A.v</string>
		<string>Agrave.v</string>
		<string>Aacute.v</string>
		<string>Acircumflex.v</string>
		<string>Atilde.v</string>
		<string>Adieresis.v</string>
		<string>Aring.v</string>
		<string>Amacron.v</string>
		<string>Abreve.v</string>
		<string>Aogonek.v</string>
		<string>B.v</string>
		<string>C.v</string>
		<string>Ccedilla.v</string>
		<string>Cacute.v</string>
		<string>Ccircumflex.v</string>
		<string>Cdotaccent.v</string>
		<string>Ccaron.v</string>
		<string>D.v</string>
		<string>Dcaron.v</string>
		<string>E.v</string>
		<string>Egrave.v</string>
		<string>Eacute.v</string>
		<string>Ecircumflex.v</string>
		<string>Edieresis.v</string>
		<string>Emacron.v</string>
		<string>Ebreve.v</string>
		<string>Edotaccent.v</string>
		<string>Eogonek.v</string>
		<string>Ecaron.v</string>
		<string>F.v</string>
		<string>G.v</string>
		<string>Gcircumflex.v</string>
		<string>Gbreve.v</string>
		<string>Gdotaccent.v</string>
		<string>Gcommaaccent.v</string>
		<string>H.v</string>
		<string>Hcircumflex.v</string>
		<string>I.v</string>
		<string>Igrave.v</string>
		<string>Iacute.v</string>
		<string>Icircumflex.v</string>
		<string>Idieresis.v</string>
		<string>Itilde.v</string>
		<string>Imacron.v</string>
		<string>Ibreve.v</string>
		<string>Iogonek.v</string>
		<string>Idotaccent.v</string>
		<string>J.v</string>
		<string>Jcircumflex.v</string>
		<string>K.v</string>
		<string>Kcommaaccent.v</string>
		<string>L.v</string>
		<string>Lacute.v</string>
		<string>Lcommaaccent.v</string>
		<string>Lcaron.v</string>
		<string>M.v</string>
		<string>N.v</string>
		<string>Ntilde.v</string>
		<string>Nacute.v</string>
		<string>Ncommaaccent.v</string>
		<string>Ncaron.v</string>
		<string>O.v</string>
		<string>Ograve.v</string>
		<string>Oacute.v</string>
		<string>Ocircumflex.v</string>
		<string>Otilde.v</string>
		<string>Odieresis.v</string>
		<string>Omacron.v</string>
		<string>Obreve.v</string>
		<string>Ohungarumlaut.v</string>
		<string>P.v</string>
		<string>Q.v</string>
		<string>R.v</string>
		<string>Racute.v</string>
		<string>Rcommaaccent.v</string>
		<string>Rcaron.v</string>
		<string>S.v</string>
		<string>Sacute.v</string>
		<string>Scircumflex.v</string>
		<string>Scedilla.v</string>
		<string>Scaron.v</string>
		<string>Scommaaccent.v</string>
		<string>T.v</string>
		<string>Tcommaaccent.v</string>
		<string>Tcaron.v</string>
		<string>U.v</string>
		<string>Ugrave.v</string>
		<string>Uacute.v</string>
		<string>Ucircumflex.v</string>
		<string>Udieresis.v</string>
		<string>Utilde.v</string>
		<string>Umacron.v</string>
		<string>Ubreve.v</string>
		<string>Uring.v</string>
		<string>Uhungarumlaut.v</string>
		<string>Uogonek.v</string>
		<string>V.v</string>
		<string>W.v</string>
		<string>Wcircumflex.v</string>
		<string>Wgrave.v</string>
		<string>Wacute.v</string>
		<string>Wdieresis.v</string>
		<string>X.v</string>
		<string>Y.v</string>
		<string>Yacute.v</string>
		<string>Ycircumflex.v</string>
		<string>Ydieresis.v</string>
		<string>Ygrave.v</string>
		<string>Z.v</string>
		<string>Zacute.v</string>
		<string>Zdotaccent.v</string>
		<string>Zcaron.v</string>
		<string>AE.v</string>
		<string>Eth.v</string>
		<string>Oslash.v</string>
		<string>Thorn.v</string>
		<string>Dcroat.v</string>
		<string>Hbar.v</string>
		<string>IJ.v</string>
		<string>Ldot.v</string>
		<string>Lslash.v</string>
		<string>Eng.v</string>
		<string>OE.v</string>
		<string>Tbar.v</string>
		<string>commaaccent.v</string>
		<string>zero.v</string>
		<string>one.v</string>
		<string>two.v</string>
		<string>three.v</string>
		<string>four.v</string>
		<string>five.v</string>
		<string>six.v</string>
		<string>seven.v</string>
		<string>eight.v</string>
		<string>nine.v</string>
		<string>percent.v</string>
		<string>perthousand.v</string>
		<string>quotesingle.v</string>
		<string>quotedbl.v</string>
		<string>quoteleft.v</string>
		<string>quoteright.v</string>
		<string>quotedblleft.v</string>
		<string>quotedblright.v</string>
		<string>quotesinglbase.v</string>
		<string>quotedblbase.v</string>
		<string>guilsinglleft.v</string>
		<string>guilsinglright.v</string>
		<string>guillemotleft.v</string>
		<string>guillemotright.v</string>
		<string>period.v</string>
		<string>comma.v</string>
		<string>colon.v</string>
		<string>semicolon.v</string>
		<string>ellipsis.v</string>
		<string>exclam.v</string>
		<string>exclamdown.v</string>
		<string>question.v</string>
		<string>questiondown.v</string>
		<string>ampersand.v</string>
	</array>
	<key>vertical_off</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>commaaccent</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>at</string>
		<string>ampersand</string>
	</array>
	<key>vertical_sorts</key>
	<array>
		<string>hyphen.v</string>
		<string>braceright.v</string>
		<string>endash.v</string>
		<string>parenleft.v</string>
		<string>emdash.v</string>
		<string>parenright.v</string>
		<string>bracketleft.v</string>
		<string>braceleft.v</string>
		<string>bracketright.v</string>
	</array>
	<key>vertical_sorts_off</key>
	<array>
		<string>hyphen</string>
		<string>braceleft</string>
		<string>endash</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>bracketleft</string>
	</array>
</dict>
</plist>
