<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7931FBB6-2DAD-41FF-8C00-410276E8F826</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Delta</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I_I.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omega</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcommaaccent.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.salt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.salt_s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.s_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.vert</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowdown</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowdownleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowdownright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowup</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowupleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowupright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ascript</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackdiamond</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackdownpointingtriangle</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackleftpointingtriangle</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackrightpointingtriangle</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blacksquare</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackuppointingtriangle</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecmb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.2</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonsign</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccent.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaturnedmod</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.sups</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estimated</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.sups</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.foursuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.vert</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gscript</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotleft.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexdownleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexdownleft.salt</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexdownright</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexdownright.salt</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexupleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexupleft.salt</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexupright</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indexupright.salt</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.integral</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.liter</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.sups</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.partialdiff</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peseta</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.product</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.salt</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.salt_v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcmb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringhalfleft</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringhalfright</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.sups</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.sups</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F59A</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F59B</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F5A0</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F5A1</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F5A2</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F5A3</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2117</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2120</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AA</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AB</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21B0</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21B1</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21B2</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21B3</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni261A</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni261B</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.verticallinemod</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.v</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
