<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng.v</key>
    <string>E_ng.v.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X.salt</key>
    <string>X_.salt.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arrowleft.chevron</key>
    <string>arrowleft.chevron.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>blackuppointingtriangle</key>
    <string>blackuppointingtriangle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.sups</key>
    <string>five.sups.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>liter</key>
    <string>liter.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>uni21AA</key>
    <string>uni21A_A_.glif</string>
    <key>uni21AB.arrow</key>
    <string>uni21A_B_.arrow.glif</string>
    <key>uni25D6</key>
    <string>uni25D_6.glif</string>
    <key>uni25D6.bevel</key>
    <string>uni25D_6.bevel.glif</string>
    <key>uni25D6.deco</key>
    <string>uni25D_6.deco.glif</string>
    <key>uni25D6.rounded</key>
    <string>uni25D_6.rounded.glif</string>
    <key>uni25D6.spike</key>
    <string>uni25D_6.spike.glif</string>
    <key>uni25D6.square</key>
    <string>uni25D_6.square.glif</string>
    <key>uni25D6.v_bevel</key>
    <string>uni25D_6.v_bevel.glif</string>
    <key>uni25D6.v_deco</key>
    <string>uni25D_6.v_deco.glif</string>
    <key>uni25D6.v_wings</key>
    <string>uni25D_6.v_wings.glif</string>
    <key>uni25D6.wings</key>
    <string>uni25D_6.wings.glif</string>
    <key>uni25D7.bevel</key>
    <string>uni25D_7.bevel.glif</string>
    <key>uni25D7.deco</key>
    <string>uni25D_7.deco.glif</string>
    <key>uni25D7.v_deco</key>
    <string>uni25D_7.v_deco.glif</string>
    <key>uni25D7.wings</key>
    <string>uni25D_7.wings.glif</string>
    <key>uni25DC</key>
    <string>uni25D_C_.glif</string>
    <key>uni25DD.curve</key>
    <string>uni25D_D_.curve.glif</string>
    <key>uni261E.salt</key>
    <string>uni261E_.salt.glif</string>
    <key>uni27A1</key>
    <string>uni27A_1.glif</string>
    <key>uni2B1B</key>
    <string>uni2B_1B_.glif</string>
    <key>uni2B1B.chevron_e</key>
    <string>uni2B_1B_.chevron_e.glif</string>
    <key>uni2B1B.semichevron_e</key>
    <string>uni2B_1B_.semichevron_e.glif</string>
    <key>uni2B1B.trapezoid_e</key>
    <string>uni2B_1B_.trapezoid_e.glif</string>
    <key>uni2B24</key>
    <string>uni2B_24.glif</string>
    <key>uni2B24.salt</key>
    <string>uni2B_24.salt.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
