<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>J</key>
    <string>J_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>W.s_v</key>
    <string>W_.s_v.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>quoteleft.salt</key>
    <string>quoteleft.salt.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
