@font-face {
    src: url('BungeeColor-Regular_COLRv0.woff2') format("woff2"),
         url('BungeeColor-Regular_COLRv0.woff') format("woff");
    font-family: 'Bungee COLR';
    font-style: normal;
    font-weight: 400;
    }

