<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Becyrillic.scrap_beta</key>
    <string>B_ecyrillic.scrap_beta.glif</string>
    <key>Checyrillic.scrap_beta</key>
    <string>C_hecyrillic.scrap_beta.glif</string>
    <key>Decyrillic.scrap_beta</key>
    <string>D_ecyrillic.scrap_beta.glif</string>
    <key>Efcyrillic.scrap_beta</key>
    <string>E_fcyrillic.scrap_beta.glif</string>
    <key>Elcyrillic.scrap_beta</key>
    <string>E_lcyrillic.scrap_beta.glif</string>
    <key>Ereversedcyrillic.scrap_beta</key>
    <string>E_reversedcyrillic.scrap_beta.glif</string>
    <key>Gecyrillic.scrap_beta</key>
    <string>G_ecyrillic.scrap_beta.glif</string>
    <key>Iacyrillic.scrap_beta</key>
    <string>I_acyrillic.scrap_beta.glif</string>
    <key>Iicyrillic.scrap_beta</key>
    <string>I_icyrillic.scrap_beta.glif</string>
    <key>Pecyrillic.scrap_beta</key>
    <string>P_ecyrillic.scrap_beta.glif</string>
    <key>Shchacyrillic.scrap_beta</key>
    <string>S_hchacyrillic.scrap_beta.glif</string>
    <key>Softsigncyrillic.scrap_beta</key>
    <string>S_oftsigncyrillic.scrap_beta.glif</string>
    <key>Ucyrillic.scrap_beta</key>
    <string>U_cyrillic.scrap_beta.glif</string>
    <key>Zhecyrillic.scrap_beta</key>
    <string>Z_hecyrillic.scrap_beta.glif</string>
  </dict>
</plist>
