<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>E.salt_s_v</key>
    <string>E_.salt_s_v.glif</string>
    <key>E.salt_v</key>
    <string>E_.salt_v.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Iacute.salt</key>
    <string>I_acute.salt.glif</string>
    <key>L.salt_s_v</key>
    <string>L_.salt_s_v.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Lslash.v</key>
    <string>L_slash.v.glif</string>
    <key>M.salt</key>
    <string>M_.salt.glif</string>
    <key>M.salt_v</key>
    <string>M_.salt_v.glif</string>
    <key>Ncommaaccent.salt_v</key>
    <string>N_commaaccent.salt_v.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>V.v</key>
    <string>V_.v.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.v</key>
    <string>X_.v.glif</string>
    <key>Y.v</key>
    <string>Y_.v.glif</string>
    <key>uni2B1B</key>
    <string>uni2B_1B_.glif</string>
  </dict>
</plist>
