<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C1C6E792-D49F-40E6-B4E7-1E54B807F4DD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
