<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BB5F7550-FEBD-4BC1-96F1-5A5FCD586898</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
