<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adotbelow</string>
		<string>Ahookabove</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_A.salt</key>
	<array>
		<string>A.salt</string>
		<string>Aogonek.salt</string>
		<string>Abreve.salt</string>
		<string>Eng</string>
		<string>Aacute.salt</string>
		<string>M.salt</string>
		<string>Ncaron.salt</string>
		<string>Acircumflex.salt</string>
		<string>Adieresis.salt</string>
		<string>Amacron.salt</string>
		<string>Aring.salt</string>
		<string>Ntilde.salt</string>
		<string>Agrave.salt</string>
		<string>N.salt</string>
		<string>Nacute.salt</string>
		<string>Ncommaaccent.salt</string>
		<string>Atilde.salt</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>b</string>
		<string>germandbls</string>
		<string>Germandbls</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Cacute</string>
		<string>Cdotaccent</string>
		<string>C</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>AE.salt</string>
		<string>Ecircumflex</string>
		<string>Ebreve</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>E</string>
		<string>Ecaron</string>
		<string>OE</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>E.salt</string>
		<string>Eacute.salt</string>
		<string>Ebreve.salt</string>
		<string>Ecaron.salt</string>
		<string>Ecircumflex.salt</string>
		<string>Edieresis.salt</string>
		<string>Edotaccent.salt</string>
		<string>Egrave.salt</string>
		<string>Emacron.salt</string>
		<string>Eogonek.salt</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edotbelow</string>
		<string>Ehookabove</string>
		<string>Etilde</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>ae</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>f</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gcaron</string>
		<string>Gmacron</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>Iacute.salt</string>
		<string>Hcircumflex</string>
		<string>Igrave.salt</string>
		<string>Ntilde</string>
		<string>Idieresis.salt</string>
		<string>Ibreve.salt</string>
		<string>Idotaccent.salt</string>
		<string>Iogonek.salt</string>
		<string>I.salt</string>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Icircumflex.salt</string>
		<string>Nacute</string>
		<string>Itilde.salt</string>
		<string>Imacron.salt</string>
		<string>Hbrevebelow</string>
		<string>Hdotbelow</string>
		<string>Mdotbelow</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nlinebelow</string>
		<string>h</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>Idieresis</string>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>I</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Idotbelow</string>
		<string>Ihookabove</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lslash</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
	</array>
	<key>@MMK_L_L.salt</key>
	<array>
		<string>L.salt</string>
		<string>Lacute.salt</string>
		<string>Lcommaaccent.salt</string>
		<string>Lslash.salt</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Otilde</string>
		<string>Dcaron</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Dcroat</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Obreve</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Ocaron</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>d</string>
		<string>dcaron</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>q</string>
		<string>eth</string>
		<string>oslash</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_Ohorn</key>
	<array>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>p</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>R</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rlinebelow</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>Umacron</string>
		<string>W.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wgrave.salt</string>
		<string>Wdieresis.salt</string>
		<string>J</string>
		<string>IJ</string>
		<string>U</string>
		<string>Wacute.salt</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Jcircumflex</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>ucaron</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>uhookabove</string>
		<string>dotlessj</string>
	</array>
	<key>@MMK_L_Uhorn</key>
	<array>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>v</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
		<string>X.salt</string>
		<string>x</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>Ygrave</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_Y.salt</key>
	<array>
		<string>Yacute.salt</string>
		<string>Ygrave.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Y.salt</string>
		<string>Ydieresis.salt</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zdotbelow</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>perthousand</string>
		<string>percent</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>Atilde</string>
		<string>AE</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Agrave</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adotbelow</string>
		<string>Ahookabove</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_A.salt</key>
	<array>
		<string>Amacron.salt</string>
		<string>Aogonek.salt</string>
		<string>Abreve.salt</string>
		<string>Eng</string>
		<string>Aacute.salt</string>
		<string>M.salt</string>
		<string>Ncaron.salt</string>
		<string>Acircumflex.salt</string>
		<string>Adieresis.salt</string>
		<string>AE.salt</string>
		<string>A.salt</string>
		<string>Ntilde.salt</string>
		<string>Agrave.salt</string>
		<string>N.salt</string>
		<string>Nacute.salt</string>
		<string>Ncommaaccent.salt</string>
		<string>Atilde.salt</string>
		<string>Aring.salt</string>
		<string>eng</string>
	</array>
	<key>@MMK_R_Eth</key>
	<array>
		<string>dcroat</string>
		<string>eth</string>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>Iacute.salt</string>
		<string>Racute</string>
		<string>Kcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Rcaron</string>
		<string>Igrave.salt</string>
		<string>Ntilde</string>
		<string>Lacute</string>
		<string>Idieresis.salt</string>
		<string>Ibreve.salt</string>
		<string>Imacron.salt</string>
		<string>Idotaccent.salt</string>
		<string>Iogonek.salt</string>
		<string>Rcommaaccent</string>
		<string>I.salt</string>
		<string>Thorn</string>
		<string>B</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>M</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Nacute</string>
		<string>Lcommaaccent</string>
		<string>Itilde.salt</string>
		<string>Icircumflex.salt</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Hbrevebelow</string>
		<string>Hdotbelow</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>Mdotbelow</string>
		<string>Ndotbelow</string>
		<string>Nlinebelow</string>
		<string>Lcaron</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>b</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>d</string>
		<string>dcaron</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>h</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rlinebelow</string>
		<string>germandbls</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>thorn</string>
		<string>Ldot</string>
		<string>Germandbls</string>
		<string>L.salt</string>
		<string>Lacute.salt</string>
		<string>Lcaron.salt</string>
		<string>Lcommaaccent.salt</string>
		<string>Ldot.salt</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>Itilde</string>
		<string>Ibreve</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>I</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Icaron</string>
		<string>Idotbelow</string>
		<string>Ihookabove</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>dotlessj</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>G</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>OE</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>Cdotaccent</string>
		<string>C</string>
		<string>Ograve</string>
		<string>Obreve</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
		<string>E.salt</string>
		<string>Eacute.salt</string>
		<string>Ebreve.salt</string>
		<string>Ecaron.salt</string>
		<string>Ecircumflex.salt</string>
		<string>Edieresis.salt</string>
		<string>Edotaccent.salt</string>
		<string>Egrave.salt</string>
		<string>Emacron.salt</string>
		<string>Eogonek.salt</string>
		<string>Gcaron</string>
		<string>Gmacron</string>
		<string>Ocaron</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>q</string>
		<string>oe</string>
		<string>oslash</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Utilde</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>Ubreve</string>
		<string>Umacron</string>
		<string>W.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wgrave.salt</string>
		<string>Uhungarumlaut</string>
		<string>U</string>
		<string>Wacute.salt</string>
		<string>Udieresis</string>
		<string>Wdieresis.salt</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>v</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.salt</string>
		<string>x</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Ydieresis</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_Y.salt</key>
	<array>
		<string>Yacute.salt</string>
		<string>Ygrave.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Y.salt</string>
		<string>Ydieresis.salt</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
		<string>Zdotbelow</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>perthousand</string>
		<string>percent</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>vertical</key>
	<array>
		<string>space.v</string>
		<string>A.v</string>
		<string>Agrave.v</string>
		<string>Aacute.v</string>
		<string>Acircumflex.v</string>
		<string>Atilde.v</string>
		<string>Adieresis.v</string>
		<string>Aring.v</string>
		<string>Amacron.v</string>
		<string>Abreve.v</string>
		<string>Aogonek.v</string>
		<string>B.v</string>
		<string>C.v</string>
		<string>Ccedilla.v</string>
		<string>Cacute.v</string>
		<string>Ccircumflex.v</string>
		<string>Cdotaccent.v</string>
		<string>Ccaron.v</string>
		<string>D.v</string>
		<string>Dcaron.v</string>
		<string>E.v</string>
		<string>Egrave.v</string>
		<string>Eacute.v</string>
		<string>Ecircumflex.v</string>
		<string>Edieresis.v</string>
		<string>Emacron.v</string>
		<string>Ebreve.v</string>
		<string>Edotaccent.v</string>
		<string>Eogonek.v</string>
		<string>Ecaron.v</string>
		<string>F.v</string>
		<string>G.v</string>
		<string>Gcircumflex.v</string>
		<string>Gbreve.v</string>
		<string>Gdotaccent.v</string>
		<string>Gcommaaccent.v</string>
		<string>H.v</string>
		<string>Hcircumflex.v</string>
		<string>I.v</string>
		<string>Igrave.v</string>
		<string>Iacute.v</string>
		<string>Icircumflex.v</string>
		<string>Idieresis.v</string>
		<string>Itilde.v</string>
		<string>Imacron.v</string>
		<string>Ibreve.v</string>
		<string>Iogonek.v</string>
		<string>Idotaccent.v</string>
		<string>J.v</string>
		<string>Jcircumflex.v</string>
		<string>K.v</string>
		<string>Kcommaaccent.v</string>
		<string>L.v</string>
		<string>Lacute.v</string>
		<string>Lcommaaccent.v</string>
		<string>Lcaron.v</string>
		<string>M.v</string>
		<string>N.v</string>
		<string>Ntilde.v</string>
		<string>Nacute.v</string>
		<string>Ncommaaccent.v</string>
		<string>Ncaron.v</string>
		<string>O.v</string>
		<string>Ograve.v</string>
		<string>Oacute.v</string>
		<string>Ocircumflex.v</string>
		<string>Otilde.v</string>
		<string>Odieresis.v</string>
		<string>Omacron.v</string>
		<string>Obreve.v</string>
		<string>Ohungarumlaut.v</string>
		<string>P.v</string>
		<string>Q.v</string>
		<string>R.v</string>
		<string>Racute.v</string>
		<string>Rcommaaccent.v</string>
		<string>Rcaron.v</string>
		<string>S.v</string>
		<string>Sacute.v</string>
		<string>Scircumflex.v</string>
		<string>Scedilla.v</string>
		<string>Scaron.v</string>
		<string>Scommaaccent.v</string>
		<string>T.v</string>
		<string>Tcommaaccent.v</string>
		<string>Tcaron.v</string>
		<string>U.v</string>
		<string>Ugrave.v</string>
		<string>Uacute.v</string>
		<string>Ucircumflex.v</string>
		<string>Udieresis.v</string>
		<string>Utilde.v</string>
		<string>Umacron.v</string>
		<string>Ubreve.v</string>
		<string>Uring.v</string>
		<string>Uhungarumlaut.v</string>
		<string>Uogonek.v</string>
		<string>V.v</string>
		<string>W.v</string>
		<string>Wcircumflex.v</string>
		<string>Wgrave.v</string>
		<string>Wacute.v</string>
		<string>Wdieresis.v</string>
		<string>X.v</string>
		<string>Y.v</string>
		<string>Yacute.v</string>
		<string>Ycircumflex.v</string>
		<string>Ydieresis.v</string>
		<string>Ygrave.v</string>
		<string>Z.v</string>
		<string>Zacute.v</string>
		<string>Zdotaccent.v</string>
		<string>Zcaron.v</string>
		<string>AE.v</string>
		<string>Eth.v</string>
		<string>Oslash.v</string>
		<string>Thorn.v</string>
		<string>Dcroat.v</string>
		<string>Hbar.v</string>
		<string>IJ.v</string>
		<string>Ldot.v</string>
		<string>Lslash.v</string>
		<string>Eng.v</string>
		<string>OE.v</string>
		<string>Tbar.v</string>
		<string>commaaccent.v</string>
		<string>zero.v</string>
		<string>one.v</string>
		<string>two.v</string>
		<string>three.v</string>
		<string>four.v</string>
		<string>five.v</string>
		<string>six.v</string>
		<string>seven.v</string>
		<string>eight.v</string>
		<string>nine.v</string>
		<string>percent.v</string>
		<string>perthousand.v</string>
		<string>quotesingle.v</string>
		<string>quotedbl.v</string>
		<string>quoteleft.v</string>
		<string>quoteright.v</string>
		<string>quotedblleft.v</string>
		<string>quotedblright.v</string>
		<string>quotesinglbase.v</string>
		<string>quotedblbase.v</string>
		<string>guilsinglleft.v</string>
		<string>guilsinglright.v</string>
		<string>guillemotleft.v</string>
		<string>guillemotright.v</string>
		<string>period.v</string>
		<string>comma.v</string>
		<string>colon.v</string>
		<string>semicolon.v</string>
		<string>ellipsis.v</string>
		<string>exclam.v</string>
		<string>exclamdown.v</string>
		<string>question.v</string>
		<string>questiondown.v</string>
		<string>ampersand.v</string>
	</array>
	<key>vertical_off</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>commaaccent</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>at</string>
		<string>ampersand</string>
	</array>
	<key>vertical_sorts</key>
	<array>
		<string>hyphen.v</string>
		<string>braceright.v</string>
		<string>endash.v</string>
		<string>parenleft.v</string>
		<string>emdash.v</string>
		<string>parenright.v</string>
		<string>bracketleft.v</string>
		<string>braceleft.v</string>
		<string>bracketright.v</string>
	</array>
	<key>vertical_sorts_off</key>
	<array>
		<string>hyphen</string>
		<string>braceleft</string>
		<string>endash</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>bracketleft</string>
	</array>
</dict>
</plist>
