<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.alt000</key>
	<string>A_.alt000.glif</string>
	<key>A.alt001</key>
	<string>A_.alt001.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt000</key>
	<string>B_.alt000.glif</string>
	<key>B.alt001</key>
	<string>B_.alt001.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.alt000</key>
	<string>C_.alt000.glif</string>
	<key>C.alt001</key>
	<string>C_.alt001.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.alt000</key>
	<string>D_.alt000.glif</string>
	<key>D.alt001</key>
	<string>D_.alt001.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt000</key>
	<string>E_.alt000.glif</string>
	<key>E.alt001</key>
	<string>E_.alt001.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt000</key>
	<string>F_.alt000.glif</string>
	<key>F.alt001</key>
	<string>F_.alt001.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.alt000</key>
	<string>G_.alt000.glif</string>
	<key>G.alt001</key>
	<string>G_.alt001.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.alt000</key>
	<string>H_.alt000.glif</string>
	<key>H.alt001</key>
	<string>H_.alt001.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.alt000</key>
	<string>I_.alt000.glif</string>
	<key>I.alt001</key>
	<string>I_.alt001.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.alt000</key>
	<string>J_.alt000.glif</string>
	<key>J.alt001</key>
	<string>J_.alt001.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt000</key>
	<string>K_.alt000.glif</string>
	<key>K.alt001</key>
	<string>K_.alt001.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.alt000</key>
	<string>L_.alt000.glif</string>
	<key>L.alt001</key>
	<string>L_.alt001.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.alt000</key>
	<string>M_.alt000.glif</string>
	<key>M.alt001</key>
	<string>M_.alt001.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.alt000</key>
	<string>N_.alt000.glif</string>
	<key>N.alt001</key>
	<string>N_.alt001.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.alt000</key>
	<string>O_.alt000.glif</string>
	<key>O.alt001</key>
	<string>O_.alt001.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.alt000</key>
	<string>P_.alt000.glif</string>
	<key>P.alt001</key>
	<string>P_.alt001.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt000</key>
	<string>Q_.alt000.glif</string>
	<key>Q.alt001</key>
	<string>Q_.alt001.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt000</key>
	<string>R_.alt000.glif</string>
	<key>R.alt001</key>
	<string>R_.alt001.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.alt000</key>
	<string>S_.alt000.glif</string>
	<key>S.alt001</key>
	<string>S_.alt001.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.alt000</key>
	<string>T_.alt000.glif</string>
	<key>T.alt001</key>
	<string>T_.alt001.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.alt000</key>
	<string>U_.alt000.glif</string>
	<key>U.alt001</key>
	<string>U_.alt001.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.alt000</key>
	<string>V_.alt000.glif</string>
	<key>V.alt001</key>
	<string>V_.alt001.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt000</key>
	<string>W_.alt000.glif</string>
	<key>W.alt001</key>
	<string>W_.alt001.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.alt000</key>
	<string>X_.alt000.glif</string>
	<key>X.alt001</key>
	<string>X_.alt001.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.alt000</key>
	<string>Y_.alt000.glif</string>
	<key>Y.alt001</key>
	<string>Y_.alt001.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.alt000</key>
	<string>Z_.alt000.glif</string>
	<key>Z.alt001</key>
	<string>Z_.alt001.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.alt000</key>
	<string>ampersand.alt000.glif</string>
	<key>ampersand.alt001</key>
	<string>ampersand.alt001.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciicircum.alt000</key>
	<string>asciicircum.alt000.glif</string>
	<key>asciicircum.alt001</key>
	<string>asciicircum.alt001.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asciitilde.alt000</key>
	<string>asciitilde.alt000.glif</string>
	<key>asciitilde.alt001</key>
	<string>asciitilde.alt001.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.alt000</key>
	<string>asterisk.alt000.glif</string>
	<key>asterisk.alt001</key>
	<string>asterisk.alt001.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.alt000</key>
	<string>at.alt000.glif</string>
	<key>at.alt001</key>
	<string>at.alt001.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>backslash.alt000</key>
	<string>backslash.alt000.glif</string>
	<key>backslash.alt001</key>
	<string>backslash.alt001.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.alt000</key>
	<string>bar.alt000.glif</string>
	<key>bar.alt001</key>
	<string>bar.alt001.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.alt000</key>
	<string>braceleft.alt000.glif</string>
	<key>braceleft.alt001</key>
	<string>braceleft.alt001.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.alt000</key>
	<string>braceright.alt000.glif</string>
	<key>braceright.alt001</key>
	<string>braceright.alt001.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.alt000</key>
	<string>bracketleft.alt000.glif</string>
	<key>bracketleft.alt001</key>
	<string>bracketleft.alt001.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.alt000</key>
	<string>bracketright.alt000.glif</string>
	<key>bracketright.alt001</key>
	<string>bracketright.alt001.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.alt000</key>
	<string>colon.alt000.glif</string>
	<key>colon.alt001</key>
	<string>colon.alt001.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.alt000</key>
	<string>comma.alt000.glif</string>
	<key>comma.alt001</key>
	<string>comma.alt001.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.alt000</key>
	<string>dollar.alt000.glif</string>
	<key>dollar.alt001</key>
	<string>dollar.alt001.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.alt000</key>
	<string>eight.alt000.glif</string>
	<key>eight.alt001</key>
	<string>eight.alt001.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>equal.alt000</key>
	<string>equal.alt000.glif</string>
	<key>equal.alt001</key>
	<string>equal.alt001.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.alt000</key>
	<string>exclam.alt000.glif</string>
	<key>exclam.alt001</key>
	<string>exclam.alt001.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt000</key>
	<string>five.alt000.glif</string>
	<key>five.alt001</key>
	<string>five.alt001.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt000</key>
	<string>four.alt000.glif</string>
	<key>four.alt001</key>
	<string>four.alt001.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.alt000</key>
	<string>grave.alt000.glif</string>
	<key>grave.alt001</key>
	<string>grave.alt001.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greater.alt000</key>
	<string>greater.alt000.glif</string>
	<key>greater.alt001</key>
	<string>greater.alt001.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.alt000</key>
	<string>hyphen.alt000.glif</string>
	<key>hyphen.alt001</key>
	<string>hyphen.alt001.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less.alt000</key>
	<string>less.alt000.glif</string>
	<key>less.alt001</key>
	<string>less.alt001.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt000</key>
	<string>nine.alt000.glif</string>
	<key>nine.alt001</key>
	<string>nine.alt001.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.alt000</key>
	<string>numbersign.alt000.glif</string>
	<key>numbersign.alt001</key>
	<string>numbersign.alt001.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.alt000</key>
	<string>one.alt000.glif</string>
	<key>one.alt001</key>
	<string>one.alt001.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.alt000</key>
	<string>parenleft.alt000.glif</string>
	<key>parenleft.alt001</key>
	<string>parenleft.alt001.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.alt000</key>
	<string>parenright.alt000.glif</string>
	<key>parenright.alt001</key>
	<string>parenright.alt001.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>percent.alt000</key>
	<string>percent.alt000.glif</string>
	<key>percent.alt001</key>
	<string>percent.alt001.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.alt000</key>
	<string>period.alt000.glif</string>
	<key>period.alt001</key>
	<string>period.alt001.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus.alt000</key>
	<string>plus.alt000.glif</string>
	<key>plus.alt001</key>
	<string>plus.alt001.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.alt000</key>
	<string>question.alt000.glif</string>
	<key>question.alt001</key>
	<string>question.alt001.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedbl.alt000</key>
	<string>quotedbl.alt000.glif</string>
	<key>quotedbl.alt001</key>
	<string>quotedbl.alt001.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.alt000</key>
	<string>quotesingle.alt000.glif</string>
	<key>quotesingle.alt001</key>
	<string>quotesingle.alt001.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.alt000</key>
	<string>semicolon.alt000.glif</string>
	<key>semicolon.alt001</key>
	<string>semicolon.alt001.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt000</key>
	<string>seven.alt000.glif</string>
	<key>seven.alt001</key>
	<string>seven.alt001.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt000</key>
	<string>six.alt000.glif</string>
	<key>six.alt001</key>
	<string>six.alt001.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.alt000</key>
	<string>slash.alt000.glif</string>
	<key>slash.alt001</key>
	<string>slash.alt001.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.alt000</key>
	<string>space.alt000.glif</string>
	<key>space.alt001</key>
	<string>space.alt001.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt000</key>
	<string>three.alt000.glif</string>
	<key>three.alt001</key>
	<string>three.alt001.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt000</key>
	<string>two.alt000.glif</string>
	<key>two.alt001</key>
	<string>two.alt001.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>underscore.alt000</key>
	<string>underscore.alt000.glif</string>
	<key>underscore.alt001</key>
	<string>underscore.alt001.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt000</key>
	<string>zero.alt000.glif</string>
	<key>zero.alt001</key>
	<string>zero.alt001.glif</string>
</dict>
</plist>
