<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>D</key>
    <string>D_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>W.s_v</key>
    <string>W_.s_v.glif</string>
    <key>X.salt</key>
    <string>X_.salt.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>quoteleft.salt</key>
    <string>quoteleft.salt.glif</string>
  </dict>
</plist>
