/* The Fonts */

@font-face {
	font-family: "Bungee Regular";
	src: url("fonts/BungeeLayers-Regular.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayers-Regular.woff2") format("woff2"),
		url("fonts/BungeeLayers-Regular.woff") format("woff"),
		url("fonts/BungeeLayers-Regular.ttf") format("opentype"),
		url("fonts/BungeeLayers-Regular.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Outline";
	src: url("fonts/BungeeLayers-Outline.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayers-Outline.woff2") format("woff2"),
		url("fonts/BungeeLayers-Outline.woff") format("woff"),
		url("fonts/BungeeLayers-Outline.ttf") format("opentype"),
		url("fonts/BungeeLayers-Outline.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Inline";
	src: url("fonts/BungeeLayers-Inline.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayers-Inline.woff2") format("woff2"),
		url("fonts/BungeeLayers-Inline.woff") format("woff"),
		url("fonts/BungeeLayers-Inline.ttf") format("opentype"),
		url("fonts/BungeeLayers-Inline.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Shade";
	src: url("fonts/BungeeLayers-Shade.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayers-Shade.woff2") format("woff2"),
		url("fonts/BungeeLayers-Shade.woff") format("woff"),
		url("fonts/BungeeLayers-Shade.ttf") format("opentype"),
		url("fonts/BungeeLayers-Shade.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Rotated Regular";
	src: url("fonts/BungeeLayersRotated-Regular.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayersRotated-Regular.woff2") format("woff2"),
		url("fonts/BungeeLayersRotated-Regular.woff") format("woff"),
		url("fonts/BungeeLayersRotated-Regular.ttf") format("opentype"),
		url("fonts/BungeeLayersRotated-Regular.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Rotated Outline";
	src: url("fonts/BungeeLayersRotated-Outline.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayersRotated-Outline.woff2") format("woff2"),
		url("fonts/BungeeLayersRotated-Outline.woff") format("woff"),
		url("fonts/BungeeLayersRotated-Outline.ttf") format("opentype"),
		url("fonts/BungeeLayersRotated-Outline.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Rotated Inline";
	src: url("fonts/BungeeLayersRotated-Inline.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayersRotated-Inline.woff2") format("woff2"),
		url("fonts/BungeeLayersRotated-Inline.woff") format("woff"),
		url("fonts/BungeeLayersRotated-Inline.ttf") format("opentype"),
		url("fonts/BungeeLayersRotated-Inline.svg#font") format("svg");
}


@font-face {
	font-family: "Bungee Rotated Shade";
	src: url("fonts/BungeeLayersRotated-Shade.eot?#ie") format("embedded-opentype"),
		url("fonts/BungeeLayersRotated-Shade.woff2") format("woff2"),
		url("fonts/BungeeLayersRotated-Shade.woff") format("woff"),
		url("fonts/BungeeLayersRotated-Shade.ttf") format("opentype"),
		url("fonts/BungeeLayersRotated-Shade.svg#font") format("svg");
}

/* top-level element classes */

.bungee {
    position: relative;
    display: inline-block;
    font-size: 72px;
    white-space: nowrap;
    padding: 0.25in;
    text-rendering: optimizeLegibility;
}

.bungee.vertical {
    /* change writing mode to vertical */
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* for browsers that don't support vertical mode */
/* Javascript will set .no-vertical-text on <html> */
.no-vertical-text .bungee.vertical {
    -moz-transform-origin: left bottom;
    -moz-transform: translateY(-100%) rotate(90deg);
    -ms-transform-origin: left bottom;
    -ms-transform: translateY(-100%) rotate(90deg);
    -webkit-transform-origin: left bottom;
    -webkit-transform: translateY(-100%) rotate(90deg);
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(90deg);
}

/* for "true" vertical writing-mode support, this is what you would use */
/* but browser support isn't reliable enough yet, so we just use special rotated fonts */
/*
.bungee.vertical, .bungee.vertical * {
    /* use upright orientation * /
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
    /* implement spacing and kerning * /
    -moz-font-feature-settings: "vkrn", "vpal";
    -webkit-font-feature-settings: "vkrn", "vpal";
    font-feature-settings: "vkrn", "vpal";
}
*/

.bungee * {
    position: relative;
    background: transparent;
}

.bungee .layer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.bungee .layer:first-child {
    position: relative; /* to make it have an actual size */
}

.bungee .regular {
    font-family: "Bungee Regular";
    z-index: 13;
}

.bungee .outline {
    font-family: "Bungee Outline";
    z-index: 12;
}

.bungee .inline {
    font-family: "Bungee Inline";
    z-index: 14;
}

.bungee .shade {
    font-family: "Bungee Shade";
    z-index: 11;
}

.bungee.vertical .regular {
    font-family: "Bungee Rotated Regular";
}

.bungee.vertical .outline {
    font-family: "Bungee Rotated Outline";
}

.bungee.vertical .inline {
    font-family: "Bungee Rotated Inline";
}

.bungee.vertical .shade {
    font-family: "Bungee Rotated Shade";
}

.bungee.regular .regular {
    opacity: 1;
}

.bungee.outline .outline {
    opacity: 1;
}

.bungee.inline .inline {
    opacity: 1;
}

.bungee.shade .shade {
    opacity: 1;
}


/* manipulations for block shapes and banners */

.bungee.block {
    -moz-font-feature-settings: "ss01", "liga" 0, "kern" 0;
    -webkit-font-feature-settings: "ss01", "liga" 0, "kern" 0;
    font-feature-settings: "ss01", "liga" 0, "kern" 0;
}

.bungee.block.vertical .layer.background {
    letter-spacing: 0.28em;
}

.bungee.background .layer.background {
    opacity: 1;
}

.bungee .background.regular {
    z-index: 2;
}

.bungee .background.outline {
    z-index: 1;
}



.bungee.background header,
.bungee.background footer,
.bungee.background figure
 {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
}

.bungee.background figure {
    overflow: hidden;
}

.bungee.background span {
    /* smaller font size inside shapes */
    font-size: 0.9em;
    left: 0.0556em; /* (1-fontsize)/2/fontsize */
    top: -0.0445em; /* -left * 80% */
}

.bungee.background.block span {
    letter-spacing: 0.4222em ; /* 1.28/fontsize - 1 */
}

.bungee.background.shade span {
    /* offset slightly to compensate for shade */
    left: 0.0956em; /* left + 0.04 */
    top: -0.0845em; /* top - 0.04 */
}

.bungee.vertical.background span {
    /* Chrome wants to push everything right */
    left: -0.1556em; /* this seems to be roughly -0.14/fontsize */
    top: 0.056em; /* (1/fontsize - 1)/2 */
}

.bungee.vertical.background.shade span {
    left: -0.1156em; /* left + 0.04 */
    top: -0.016em; /* top - 0.04 */
}


/* for no-vertical-text browsers, need to rotate all the transforms */
.no-vertical-text .bungee.vertical.background span {
    top: -0.056em; 
    left: 0.056em; 
}

.no-vertical-text .bungee.vertical.background.shade span {
    top: -0.096em; /* top - 0.04 */
    left: 0.016em; /* left - 0.04 */
}
