<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1020</integer>
    <key>capHeight</key>
    <integer>720</integer>
    <key>copyright</key>
    <string>Copyright 2023 The Bungee Project Authors (https://github.com/djrrb/Bungee)</string>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>Bungee LC</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2026/01/25 00:44:35</string>
    <key>openTypeHheaAscender</key>
    <integer>1020</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>David Jonathan Ross</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.djr.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>David Jonathan Ross</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.djr.com</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1020</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>djr </string>
    <key>openTypeVheaVertTypoAscender</key>
    <integer>500</integer>
    <key>openTypeVheaVertTypoDescender</key>
    <integer>-500</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>1000</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-5</integer>
      <integer>0</integer>
      <integer>700</integer>
      <integer>705</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Extra Condensed</string>
    <key>trademark</key>
    <string>Bungee is a trademark of The Font Bureau.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>580</integer>
  </dict>
</plist>
