<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <dict>
      <key>four</key>
      <integer>-15</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-39</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-39</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>four</key>
      <integer>-27</integer>
      <key>nine</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-31</integer>
      <key>public.kern2.U</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-19</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>bullet</key>
    <dict>
      <key>one</key>
      <integer>-15</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>eight</key>
      <integer>-15</integer>
      <key>one</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-39</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>backslash</key>
      <integer>-15</integer>
      <key>degree</key>
      <integer>-15</integer>
      <key>four</key>
      <integer>-8</integer>
      <key>public.kern2.minute</key>
      <integer>-8</integer>
      <key>public.kern2.percent</key>
      <integer>-23</integer>
      <key>public.kern2.plus</key>
      <integer>-8</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-23</integer>
      <key>quoteright.salt</key>
      <integer>-23</integer>
      <key>seven</key>
      <integer>-8</integer>
      <key>three</key>
      <integer>-8</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>seven</key>
      <integer>-8</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>four</key>
      <integer>-8</integer>
      <key>one</key>
      <integer>-23</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>lslash.ss08</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>three</key>
      <integer>-4</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>bullet</key>
      <integer>-15</integer>
      <key>degree</key>
      <integer>-46</integer>
      <key>four</key>
      <integer>-23</integer>
      <key>less</key>
      <integer>-23</integer>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.dash</key>
      <integer>-31</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-31</integer>
      <key>public.kern2.minute</key>
      <integer>-39</integer>
      <key>public.kern2.percent</key>
      <integer>-46</integer>
      <key>public.kern2.plus</key>
      <integer>-15</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-39</integer>
      <key>public.kern2.quoteright</key>
      <integer>-39</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-39</integer>
      <key>quoteleft.salt</key>
      <integer>-54</integer>
      <key>quoteright.salt</key>
      <integer>-54</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>one</key>
      <integer>-15</integer>
      <key>public.kern2.I</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-31</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-19</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-31</integer>
      <key>quoteright.salt</key>
      <integer>-31</integer>
      <key>space</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.A.salt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-19</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-12</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-4</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-12</integer>
      <key>public.kern2.quoteright</key>
      <integer>-12</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-12</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-35</integer>
      <key>quoteright.salt</key>
      <integer>-27</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.dash</key>
      <integer>-15</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.dash</key>
      <integer>-15</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-27</integer>
      <key>public.kern2.A.salt</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-26</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-23</integer>
      <key>public.kern2.dash</key>
      <integer>-15</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-15</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-8</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-27</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-23</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-12</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-15</integer>
      <key>quoteleft.salt</key>
      <integer>-31</integer>
      <key>quoteright.salt</key>
      <integer>-19</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.dash</key>
      <integer>-15</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-19</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-27</integer>
      <key>quoteright.salt</key>
      <integer>-23</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-23</integer>
      <key>public.kern2.T</key>
      <integer>-54</integer>
      <key>public.kern2.V</key>
      <integer>-19</integer>
      <key>public.kern2.W</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-34</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-19</integer>
      <key>public.kern2.a</key>
      <integer>5</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-23</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-19</integer>
      <key>question</key>
      <integer>-15</integer>
      <key>quoteleft.salt</key>
      <integer>-116</integer>
      <key>quoteright.salt</key>
      <integer>-116</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>space</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-39</integer>
    </dict>
    <key>public.kern1.L.salt</key>
    <dict>
      <key>asterisk</key>
      <integer>-31</integer>
      <key>backslash</key>
      <integer>-23</integer>
      <key>public.kern2.J</key>
      <integer>-4</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-77</integer>
      <key>public.kern2.U</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-39</integer>
      <key>public.kern2.W</key>
      <integer>-19</integer>
      <key>public.kern2.Y</key>
      <integer>-62</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-50</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-93</integer>
      <key>public.kern2.quoteright</key>
      <integer>-93</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-81</integer>
      <key>question</key>
      <integer>-31</integer>
      <key>quoteleft.salt</key>
      <integer>-139</integer>
      <key>quoteright.salt</key>
      <integer>-139</integer>
      <key>registered</key>
      <integer>-31</integer>
      <key>space</key>
      <integer>-15</integer>
      <key>trademark</key>
      <integer>-62</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-4</integer>
      <key>slash</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>backslash</key>
      <integer>-4</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-15</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-23</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-23</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-12</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-4</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-12</integer>
      <key>public.kern2.quoteright</key>
      <integer>-15</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-12</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-31</integer>
      <key>quoteright.salt</key>
      <integer>-39</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-4</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-8</integer>
      <key>quoteright.salt</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>ampersand</key>
      <integer>-23</integer>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>periodcentered</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-31</integer>
      <key>public.kern2.A.salt</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-4</integer>
      <key>public.kern2.S</key>
      <integer>0</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-54</integer>
      <key>public.kern2.dash</key>
      <integer>-31</integer>
      <key>public.kern2.f</key>
      <integer>-5</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-23</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-31</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>backslash</key>
      <integer>-15</integer>
      <key>parenright</key>
      <integer>-15</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-4</integer>
      <key>public.kern2.comma</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>trademark</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>slash</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>ampersand</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-19</integer>
      <key>public.kern2.X</key>
      <integer>-4</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.comma</key>
      <integer>-23</integer>
      <key>slash</key>
      <integer>-8</integer>
      <key>space</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-8</integer>
      <key>slash</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-15</integer>
      <key>quoteright.salt</key>
      <integer>-15</integer>
      <key>registered</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-19</integer>
      <key>public.kern2.A.salt</key>
      <integer>-4</integer>
      <key>public.kern2.J</key>
      <integer>-39</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.comma</key>
      <integer>-39</integer>
      <key>public.kern2.dash</key>
      <integer>-8</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-2</integer>
      <key>public.kern2.w</key>
      <integer>-2</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.Y.salt</key>
    <dict>
      <key>ampersand</key>
      <integer>-12</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-31</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
      <key>slash</key>
      <integer>-19</integer>
      <key>space</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>periodcentered</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.dash</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>quoteright.salt</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-2</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>four</key>
      <integer>-15</integer>
      <key>nine</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-54</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.W</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-39</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-31</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-39</integer>
      <key>public.kern2.quoteright</key>
      <integer>-54</integer>
      <key>quoteleft.salt</key>
      <integer>-54</integer>
      <key>quoteright.salt</key>
      <integer>-54</integer>
      <key>registered</key>
      <integer>-39</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>space</key>
      <integer>-8</integer>
      <key>trademark</key>
      <integer>-54</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.dash</key>
    <dict>
      <key>one</key>
      <integer>-15</integer>
      <key>public.kern2.I</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-31</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-15</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>three</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.dcaron</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.dash</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.p</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
      <key>public.kern2.x</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.Z</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.guillemotleft</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.guillemotright</key>
    <dict>
      <key>four</key>
      <integer>-8</integer>
      <key>one</key>
      <integer>-15</integer>
      <key>public.kern2.I</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-23</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>three</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.dash</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-2</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.lcaron</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.dash</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.p</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.minute</key>
    <dict>
      <key>eight</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.plus</key>
    <dict>
      <key>eight</key>
      <integer>-8</integer>
      <key>one</key>
      <integer>-15</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>three</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>eight</key>
      <integer>-8</integer>
      <key>one</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.comma</key>
      <integer>-39</integer>
      <key>questiondown</key>
      <integer>-31</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>eight</key>
      <integer>-8</integer>
      <key>one</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.A.salt</key>
      <integer>-4</integer>
      <key>public.kern2.J</key>
      <integer>-19</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-54</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>four</key>
      <integer>-15</integer>
      <key>nine</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-54</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.W</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-39</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-39</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>eight</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.A.salt</key>
      <integer>-4</integer>
      <key>public.kern2.J</key>
      <integer>-19</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.s</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.tcaron</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-2</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>four</key>
      <integer>-15</integer>
      <key>nine</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-8</integer>
      <key>seven</key>
      <integer>-8</integer>
    </dict>
    <key>quoteleft.salt</key>
    <dict>
      <key>eight</key>
      <integer>-23</integer>
      <key>one</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-31</integer>
      <key>public.kern2.J</key>
      <integer>-66</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-54</integer>
      <key>questiondown</key>
      <integer>-39</integer>
    </dict>
    <key>quoteright.salt</key>
    <dict>
      <key>eight</key>
      <integer>-23</integer>
      <key>one</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.A.salt</key>
      <integer>-4</integer>
      <key>public.kern2.J</key>
      <integer>-66</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-19</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-54</integer>
      <key>space</key>
      <integer>-8</integer>
    </dict>
    <key>registered</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-39</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-4</integer>
      <key>greater</key>
      <integer>-8</integer>
      <key>less</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-31</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
      <key>slash</key>
      <integer>-23</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>four</key>
      <integer>-8</integer>
      <key>public.kern2.minute</key>
      <integer>-8</integer>
      <key>public.kern2.percent</key>
      <integer>-23</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-23</integer>
      <key>quoteright.salt</key>
      <integer>-23</integer>
      <key>seven</key>
      <integer>-12</integer>
      <key>three</key>
      <integer>-4</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>eight</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-4</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.Y.salt</key>
      <integer>-4</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
      <key>quoteleft.salt</key>
      <integer>-8</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>degree</key>
      <integer>-15</integer>
      <key>four</key>
      <integer>-8</integer>
      <key>less</key>
      <integer>-15</integer>
      <key>public.kern2.minute</key>
      <integer>-15</integer>
      <key>public.kern2.percent</key>
      <integer>-23</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-15</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-15</integer>
      <key>quoteleft.salt</key>
      <integer>-31</integer>
      <key>quoteright.salt</key>
      <integer>-23</integer>
      <key>seven</key>
      <integer>-8</integer>
    </dict>
    <key>trademark</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-23</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-4</integer>
      <key>less</key>
      <integer>-8</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-8</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>three</key>
      <integer>-4</integer>
    </dict>
  </dict>
</plist>
