<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jan 29, 26 at 23:49</string>
      <string>glyphs.J_an 29, 26 at 23_49</string>
    </array>
    <array>
      <string>Jan 29, 26 at 23:49.background</string>
      <string>glyphs.J_an 29, 26 at 23_49.background</string>
    </array>
    <array>
      <string>Jan 30, 26 at 00:08</string>
      <string>glyphs.J_an 30, 26 at 00_08</string>
    </array>
    <array>
      <string>Jan 31, 26 at 07:25</string>
      <string>glyphs.J_an 31, 26 at 07_25</string>
    </array>
    <array>
      <string>Jan 31, 26 at 07:25.background</string>
      <string>glyphs.J_an 31, 26 at 07_25.background</string>
    </array>
    <array>
      <string>Jan 31, 26 at 07:46</string>
      <string>glyphs.J_an 31, 26 at 07_46</string>
    </array>
    <array>
      <string>Jan 29, 26 at 23:11</string>
      <string>glyphs.J_an 29, 26 at 23_11</string>
    </array>
    <array>
      <string>Jan 30, 26 at 00:03</string>
      <string>glyphs.J_an 30, 26 at 00_03</string>
    </array>
  </array>
</plist>
