<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.s_v</key>
    <string>A_.s_v.glif</string>
    <key>A.salt_s_v</key>
    <string>A_.salt_s_v.glif</string>
    <key>A.salt_v</key>
    <string>A_.salt_v.glif</string>
    <key>A.v</key>
    <string>A_.v.glif</string>
    <key>AE.salt_v</key>
    <string>A_E_.salt_v.glif</string>
    <key>AE.v</key>
    <string>A_E_.v.glif</string>
    <key>Aacute.salt_v</key>
    <string>A_acute.salt_v.glif</string>
    <key>Aacute.v</key>
    <string>A_acute.v.glif</string>
    <key>Abreve.salt_v</key>
    <string>A_breve.salt_v.glif</string>
    <key>Abreve.v</key>
    <string>A_breve.v.glif</string>
    <key>Acircumflex.salt_v</key>
    <string>A_circumflex.salt_v.glif</string>
    <key>Acircumflex.v</key>
    <string>A_circumflex.v.glif</string>
    <key>Adieresis.salt_v</key>
    <string>A_dieresis.salt_v.glif</string>
    <key>Adieresis.v</key>
    <string>A_dieresis.v.glif</string>
    <key>Agrave.salt_v</key>
    <string>A_grave.salt_v.glif</string>
    <key>Agrave.v</key>
    <string>A_grave.v.glif</string>
    <key>Amacron.salt_v</key>
    <string>A_macron.salt_v.glif</string>
    <key>Amacron.v</key>
    <string>A_macron.v.glif</string>
    <key>Aogonek.salt_v</key>
    <string>A_ogonek.salt_v.glif</string>
    <key>Aogonek.v</key>
    <string>A_ogonek.v.glif</string>
    <key>Aring.salt_v</key>
    <string>A_ring.salt_v.glif</string>
    <key>Aring.v</key>
    <string>A_ring.v.glif</string>
    <key>Atilde.salt_v</key>
    <string>A_tilde.salt_v.glif</string>
    <key>Atilde.v</key>
    <string>A_tilde.v.glif</string>
    <key>B.v</key>
    <string>B_.v.glif</string>
    <key>C.s_v</key>
    <string>C_.s_v.glif</string>
    <key>C.v</key>
    <string>C_.v.glif</string>
    <key>Cacute.v</key>
    <string>C_acute.v.glif</string>
    <key>Ccaron.v</key>
    <string>C_caron.v.glif</string>
    <key>Ccedilla.v</key>
    <string>C_cedilla.v.glif</string>
    <key>Ccircumflex.v</key>
    <string>C_circumflex.v.glif</string>
    <key>Cdotaccent.v</key>
    <string>C_dotaccent.v.glif</string>
    <key>D.s_v</key>
    <string>D_.s_v.glif</string>
    <key>D.v</key>
    <string>D_.v.glif</string>
    <key>Dcaron.v</key>
    <string>D_caron.v.glif</string>
    <key>Dcroat.v</key>
    <string>D_croat.v.glif</string>
    <key>E.s_v</key>
    <string>E_.s_v.glif</string>
    <key>E.salt_s_v</key>
    <string>E_.salt_s_v.glif</string>
    <key>E.salt_v</key>
    <string>E_.salt_v.glif</string>
    <key>E.v</key>
    <string>E_.v.glif</string>
    <key>Eacute.salt_v</key>
    <string>E_acute.salt_v.glif</string>
    <key>Eacute.v</key>
    <string>E_acute.v.glif</string>
    <key>Ebreve.salt_v</key>
    <string>E_breve.salt_v.glif</string>
    <key>Ebreve.v</key>
    <string>E_breve.v.glif</string>
    <key>Ecaron.salt_v</key>
    <string>E_caron.salt_v.glif</string>
    <key>Ecaron.v</key>
    <string>E_caron.v.glif</string>
    <key>Ecircumflex.salt_v</key>
    <string>E_circumflex.salt_v.glif</string>
    <key>Ecircumflex.v</key>
    <string>E_circumflex.v.glif</string>
    <key>Edieresis.salt_v</key>
    <string>E_dieresis.salt_v.glif</string>
    <key>Edieresis.v</key>
    <string>E_dieresis.v.glif</string>
    <key>Edotaccent.salt_v</key>
    <string>E_dotaccent.salt_v.glif</string>
    <key>Edotaccent.v</key>
    <string>E_dotaccent.v.glif</string>
    <key>Egrave.salt_v</key>
    <string>E_grave.salt_v.glif</string>
    <key>Egrave.v</key>
    <string>E_grave.v.glif</string>
    <key>Emacron.salt_v</key>
    <string>E_macron.salt_v.glif</string>
    <key>Emacron.v</key>
    <string>E_macron.v.glif</string>
    <key>Eng.v</key>
    <string>E_ng.v.glif</string>
    <key>Eogonek.salt_v</key>
    <string>E_ogonek.salt_v.glif</string>
    <key>Eogonek.v</key>
    <string>E_ogonek.v.glif</string>
    <key>Eth.v</key>
    <string>E_th.v.glif</string>
    <key>F.v</key>
    <string>F_.v.glif</string>
    <key>G.s_v</key>
    <string>G_.s_v.glif</string>
    <key>G.v</key>
    <string>G_.v.glif</string>
    <key>Gbreve.v</key>
    <string>G_breve.v.glif</string>
    <key>Gcircumflex.v</key>
    <string>G_circumflex.v.glif</string>
    <key>Gcommaaccent.v</key>
    <string>G_commaaccent.v.glif</string>
    <key>Gdotaccent.v</key>
    <string>G_dotaccent.v.glif</string>
    <key>Germandbls.v</key>
    <string>G_ermandbls.v.glif</string>
    <key>H.s_v</key>
    <string>H_.s_v.glif</string>
    <key>H.v</key>
    <string>H_.v.glif</string>
    <key>Hbar.v</key>
    <string>H_bar.v.glif</string>
    <key>Hcircumflex.v</key>
    <string>H_circumflex.v.glif</string>
    <key>I.s_v</key>
    <string>I_.s_v.glif</string>
    <key>I.salt_s_v</key>
    <string>I_.salt_s_v.glif</string>
    <key>I.salt_v</key>
    <string>I_.salt_v.glif</string>
    <key>I.v</key>
    <string>I_.v.glif</string>
    <key>IJ.v</key>
    <string>I_J_.v.glif</string>
    <key>I_I.salt_v</key>
    <string>I__I_.salt_v.glif</string>
    <key>Iacute.salt_v</key>
    <string>I_acute.salt_v.glif</string>
    <key>Iacute.v</key>
    <string>I_acute.v.glif</string>
    <key>Ibreve.salt_v</key>
    <string>I_breve.salt_v.glif</string>
    <key>Ibreve.v</key>
    <string>I_breve.v.glif</string>
    <key>Icircumflex.salt_v</key>
    <string>I_circumflex.salt_v.glif</string>
    <key>Icircumflex.v</key>
    <string>I_circumflex.v.glif</string>
    <key>Idieresis.salt_v</key>
    <string>I_dieresis.salt_v.glif</string>
    <key>Idieresis.v</key>
    <string>I_dieresis.v.glif</string>
    <key>Idotaccent.salt_v</key>
    <string>I_dotaccent.salt_v.glif</string>
    <key>Idotaccent.v</key>
    <string>I_dotaccent.v.glif</string>
    <key>Igrave.salt_v</key>
    <string>I_grave.salt_v.glif</string>
    <key>Igrave.v</key>
    <string>I_grave.v.glif</string>
    <key>Imacron.salt_v</key>
    <string>I_macron.salt_v.glif</string>
    <key>Imacron.v</key>
    <string>I_macron.v.glif</string>
    <key>Iogonek.salt_v</key>
    <string>I_ogonek.salt_v.glif</string>
    <key>Iogonek.v</key>
    <string>I_ogonek.v.glif</string>
    <key>Itilde.salt_v</key>
    <string>I_tilde.salt_v.glif</string>
    <key>Itilde.v</key>
    <string>I_tilde.v.glif</string>
    <key>J.s_v</key>
    <string>J_.s_v.glif</string>
    <key>J.v</key>
    <string>J_.v.glif</string>
    <key>Jcircumflex.v</key>
    <string>J_circumflex.v.glif</string>
    <key>K.s_v</key>
    <string>K_.s_v.glif</string>
    <key>K.v</key>
    <string>K_.v.glif</string>
    <key>Kcommaaccent.v</key>
    <string>K_commaaccent.v.glif</string>
    <key>L.s_v</key>
    <string>L_.s_v.glif</string>
    <key>L.salt_s_v</key>
    <string>L_.salt_s_v.glif</string>
    <key>L.salt_v</key>
    <string>L_.salt_v.glif</string>
    <key>L.v</key>
    <string>L_.v.glif</string>
    <key>Lacute.salt_v</key>
    <string>L_acute.salt_v.glif</string>
    <key>Lacute.v</key>
    <string>L_acute.v.glif</string>
    <key>Lcaron.salt_v</key>
    <string>L_caron.salt_v.glif</string>
    <key>Lcaron.v</key>
    <string>L_caron.v.glif</string>
    <key>Lcommaaccent.salt_v</key>
    <string>L_commaaccent.salt_v.glif</string>
    <key>Lcommaaccent.v</key>
    <string>L_commaaccent.v.glif</string>
    <key>Ldot.salt_v</key>
    <string>L_dot.salt_v.glif</string>
    <key>Ldot.v</key>
    <string>L_dot.v.glif</string>
    <key>Lslash.salt_v</key>
    <string>L_slash.salt_v.glif</string>
    <key>Lslash.v</key>
    <string>L_slash.v.glif</string>
    <key>M.salt_v</key>
    <string>M_.salt_v.glif</string>
    <key>M.v</key>
    <string>M_.v.glif</string>
    <key>N.s_v</key>
    <string>N_.s_v.glif</string>
    <key>N.salt_s_v</key>
    <string>N_.salt_s_v.glif</string>
    <key>N.salt_v</key>
    <string>N_.salt_v.glif</string>
    <key>N.v</key>
    <string>N_.v.glif</string>
    <key>Nacute.salt_v</key>
    <string>N_acute.salt_v.glif</string>
    <key>Nacute.v</key>
    <string>N_acute.v.glif</string>
    <key>Ncaron.salt_v</key>
    <string>N_caron.salt_v.glif</string>
    <key>Ncaron.v</key>
    <string>N_caron.v.glif</string>
    <key>Ncommaaccent.salt_v</key>
    <string>N_commaaccent.salt_v.glif</string>
    <key>Ncommaaccent.v</key>
    <string>N_commaaccent.v.glif</string>
    <key>Ntilde.salt_v</key>
    <string>N_tilde.salt_v.glif</string>
    <key>Ntilde.v</key>
    <string>N_tilde.v.glif</string>
    <key>O.s_v</key>
    <string>O_.s_v.glif</string>
    <key>O.v</key>
    <string>O_.v.glif</string>
    <key>OE.v</key>
    <string>O_E_.v.glif</string>
    <key>Oacute.v</key>
    <string>O_acute.v.glif</string>
    <key>Obreve.v</key>
    <string>O_breve.v.glif</string>
    <key>Ocircumflex.v</key>
    <string>O_circumflex.v.glif</string>
    <key>Odieresis.v</key>
    <string>O_dieresis.v.glif</string>
    <key>Ograve.v</key>
    <string>O_grave.v.glif</string>
    <key>Ohungarumlaut.v</key>
    <string>O_hungarumlaut.v.glif</string>
    <key>Omacron.v</key>
    <string>O_macron.v.glif</string>
    <key>Oslash.v</key>
    <string>O_slash.v.glif</string>
    <key>Otilde.v</key>
    <string>O_tilde.v.glif</string>
    <key>P.v</key>
    <string>P_.v.glif</string>
    <key>Q.v</key>
    <string>Q_.v.glif</string>
    <key>R.s_v</key>
    <string>R_.s_v.glif</string>
    <key>R.v</key>
    <string>R_.v.glif</string>
    <key>Racute.v</key>
    <string>R_acute.v.glif</string>
    <key>Rcaron.v</key>
    <string>R_caron.v.glif</string>
    <key>Rcommaaccent.v</key>
    <string>R_commaaccent.v.glif</string>
    <key>S.s_v</key>
    <string>S_.s_v.glif</string>
    <key>S.v</key>
    <string>S_.v.glif</string>
    <key>Sacute.v</key>
    <string>S_acute.v.glif</string>
    <key>Scaron.v</key>
    <string>S_caron.v.glif</string>
    <key>Scedilla.v</key>
    <string>S_cedilla.v.glif</string>
    <key>Scircumflex.v</key>
    <string>S_circumflex.v.glif</string>
    <key>Scommaaccent.v</key>
    <string>S_commaaccent.v.glif</string>
    <key>T.s_v</key>
    <string>T_.s_v.glif</string>
    <key>T.v</key>
    <string>T_.v.glif</string>
    <key>Tbar.v</key>
    <string>T_bar.v.glif</string>
    <key>Tcaron.v</key>
    <string>T_caron.v.glif</string>
    <key>Tcommaaccent.v</key>
    <string>T_commaaccent.v.glif</string>
    <key>Thorn.v</key>
    <string>T_horn.v.glif</string>
    <key>U.s_v</key>
    <string>U_.s_v.glif</string>
    <key>U.v</key>
    <string>U_.v.glif</string>
    <key>Uacute.v</key>
    <string>U_acute.v.glif</string>
    <key>Ubreve.v</key>
    <string>U_breve.v.glif</string>
    <key>Ucircumflex.v</key>
    <string>U_circumflex.v.glif</string>
    <key>Udieresis.v</key>
    <string>U_dieresis.v.glif</string>
    <key>Ugrave.v</key>
    <string>U_grave.v.glif</string>
    <key>Uhungarumlaut.v</key>
    <string>U_hungarumlaut.v.glif</string>
    <key>Umacron.v</key>
    <string>U_macron.v.glif</string>
    <key>Uogonek.v</key>
    <string>U_ogonek.v.glif</string>
    <key>Uring.v</key>
    <string>U_ring.v.glif</string>
    <key>Utilde.v</key>
    <string>U_tilde.v.glif</string>
    <key>V.v</key>
    <string>V_.v.glif</string>
    <key>W.s_v</key>
    <string>W_.s_v.glif</string>
    <key>W.salt_s_v</key>
    <string>W_.salt_s_v.glif</string>
    <key>W.salt_v</key>
    <string>W_.salt_v.glif</string>
    <key>W.v</key>
    <string>W_.v.glif</string>
    <key>Wacute.salt_v</key>
    <string>W_acute.salt_v.glif</string>
    <key>Wacute.v</key>
    <string>W_acute.v.glif</string>
    <key>Wcircumflex.salt_v</key>
    <string>W_circumflex.salt_v.glif</string>
    <key>Wcircumflex.v</key>
    <string>W_circumflex.v.glif</string>
    <key>Wdieresis.salt_v</key>
    <string>W_dieresis.salt_v.glif</string>
    <key>Wdieresis.v</key>
    <string>W_dieresis.v.glif</string>
    <key>Wgrave.salt_v</key>
    <string>W_grave.salt_v.glif</string>
    <key>Wgrave.v</key>
    <string>W_grave.v.glif</string>
    <key>X.salt_v</key>
    <string>X_.salt_v.glif</string>
    <key>X.v</key>
    <string>X_.v.glif</string>
    <key>Y.s_v</key>
    <string>Y_.s_v.glif</string>
    <key>Y.salt_s_v</key>
    <string>Y_.salt_s_v.glif</string>
    <key>Y.salt_v</key>
    <string>Y_.salt_v.glif</string>
    <key>Y.v</key>
    <string>Y_.v.glif</string>
    <key>Yacute.salt_v</key>
    <string>Y_acute.salt_v.glif</string>
    <key>Yacute.v</key>
    <string>Y_acute.v.glif</string>
    <key>Ycircumflex.salt_v</key>
    <string>Y_circumflex.salt_v.glif</string>
    <key>Ycircumflex.v</key>
    <string>Y_circumflex.v.glif</string>
    <key>Ydieresis.salt_v</key>
    <string>Y_dieresis.salt_v.glif</string>
    <key>Ydieresis.v</key>
    <string>Y_dieresis.v.glif</string>
    <key>Ygrave.salt_v</key>
    <string>Y_grave.salt_v.glif</string>
    <key>Ygrave.v</key>
    <string>Y_grave.v.glif</string>
    <key>Z.s_v</key>
    <string>Z_.s_v.glif</string>
    <key>Z.v</key>
    <string>Z_.v.glif</string>
    <key>Zacute.v</key>
    <string>Z_acute.v.glif</string>
    <key>Zcaron.v</key>
    <string>Z_caron.v.glif</string>
    <key>Zdotaccent.v</key>
    <string>Z_dotaccent.v.glif</string>
    <key>ampersand.salt_v</key>
    <string>ampersand.salt_v.glif</string>
    <key>ampersand.v</key>
    <string>ampersand.v.glif</string>
    <key>arrowdown.chevron</key>
    <string>arrowdown.chevron.glif</string>
    <key>arrowleft.chevron</key>
    <string>arrowleft.chevron.glif</string>
    <key>arrowright.chevron</key>
    <string>arrowright.chevron.glif</string>
    <key>arrowup.chevron</key>
    <string>arrowup.chevron.glif</string>
    <key>asterisk.v</key>
    <string>asterisk.v.glif</string>
    <key>block.v</key>
    <string>block.v.glif</string>
    <key>braceleft.v</key>
    <string>braceleft.v.glif</string>
    <key>braceright.v</key>
    <string>braceright.v.glif</string>
    <key>bracketleft.v</key>
    <string>bracketleft.v.glif</string>
    <key>bracketright.v</key>
    <string>bracketright.v.glif</string>
    <key>colon.v</key>
    <string>colon.v.glif</string>
    <key>comma.v</key>
    <string>comma.v.glif</string>
    <key>commaaccent.v</key>
    <string>commaaccent.v.glif</string>
    <key>dagger.v</key>
    <string>dagger.v.glif</string>
    <key>daggerdbl.v</key>
    <string>daggerdbl.v.glif</string>
    <key>eight.v</key>
    <string>eight.v.glif</string>
    <key>ellipsis.v</key>
    <string>ellipsis.v.glif</string>
    <key>emdash.v</key>
    <string>emdash.v.glif</string>
    <key>endash.v</key>
    <string>endash.v.glif</string>
    <key>exclam.v</key>
    <string>exclam.v.glif</string>
    <key>exclamdown.v</key>
    <string>exclamdown.v.glif</string>
    <key>five.v</key>
    <string>five.v.glif</string>
    <key>four.v</key>
    <string>four.v.glif</string>
    <key>guillemotleft.v</key>
    <string>guillemotleft.v.glif</string>
    <key>guillemotright.v</key>
    <string>guillemotright.v.glif</string>
    <key>guilsinglleft.v</key>
    <string>guilsinglleft.v.glif</string>
    <key>guilsinglright.v</key>
    <string>guilsinglright.v.glif</string>
    <key>hyphen.v</key>
    <string>hyphen.v.glif</string>
    <key>nine.v</key>
    <string>nine.v.glif</string>
    <key>one.v</key>
    <string>one.v.glif</string>
    <key>parenleft.v</key>
    <string>parenleft.v.glif</string>
    <key>parenright.v</key>
    <string>parenright.v.glif</string>
    <key>percent.v</key>
    <string>percent.v.glif</string>
    <key>period.v</key>
    <string>period.v.glif</string>
    <key>perthousand.v</key>
    <string>perthousand.v.glif</string>
    <key>question.v</key>
    <string>question.v.glif</string>
    <key>questiondown.v</key>
    <string>questiondown.v.glif</string>
    <key>quotedbl.v</key>
    <string>quotedbl.v.glif</string>
    <key>quotedblbase.v</key>
    <string>quotedblbase.v.glif</string>
    <key>quotedblleft.v</key>
    <string>quotedblleft.v.glif</string>
    <key>quotedblright.v</key>
    <string>quotedblright.v.glif</string>
    <key>quoteleft.salt_v</key>
    <string>quoteleft.salt_v.glif</string>
    <key>quoteleft.v</key>
    <string>quoteleft.v.glif</string>
    <key>quoteright.salt_v</key>
    <string>quoteright.salt_v.glif</string>
    <key>quoteright.v</key>
    <string>quoteright.v.glif</string>
    <key>quotesinglbase.v</key>
    <string>quotesinglbase.v.glif</string>
    <key>quotesingle.v</key>
    <string>quotesingle.v.glif</string>
    <key>semicolon.v</key>
    <string>semicolon.v.glif</string>
    <key>seven.v</key>
    <string>seven.v.glif</string>
    <key>six.v</key>
    <string>six.v.glif</string>
    <key>space.v</key>
    <string>space.v.glif</string>
    <key>three.v</key>
    <string>three.v.glif</string>
    <key>two.v</key>
    <string>two.v.glif</string>
    <key>uni21AB.v_arrow</key>
    <string>uni21A_B_.v_arrow.glif</string>
    <key>uni21AC.v_arrow</key>
    <string>uni21A_C_.v_arrow.glif</string>
    <key>uni25D6.v</key>
    <string>uni25D_6.v.glif</string>
    <key>uni25D6.v_bevel</key>
    <string>uni25D_6.v_bevel.glif</string>
    <key>uni25D6.v_deco</key>
    <string>uni25D_6.v_deco.glif</string>
    <key>uni25D6.v_rounded</key>
    <string>uni25D_6.v_rounded.glif</string>
    <key>uni25D6.v_spike</key>
    <string>uni25D_6.v_spike.glif</string>
    <key>uni25D6.v_square</key>
    <string>uni25D_6.v_square.glif</string>
    <key>uni25D6.v_wings</key>
    <string>uni25D_6.v_wings.glif</string>
    <key>uni25D7.v</key>
    <string>uni25D_7.v.glif</string>
    <key>uni25D7.v_bevel</key>
    <string>uni25D_7.v_bevel.glif</string>
    <key>uni25D7.v_deco</key>
    <string>uni25D_7.v_deco.glif</string>
    <key>uni25D7.v_rounded</key>
    <string>uni25D_7.v_rounded.glif</string>
    <key>uni25D7.v_spike</key>
    <string>uni25D_7.v_spike.glif</string>
    <key>uni25D7.v_square</key>
    <string>uni25D_7.v_square.glif</string>
    <key>uni25D7.v_wings</key>
    <string>uni25D_7.v_wings.glif</string>
    <key>uni25DC</key>
    <string>uni25D_C_.glif</string>
    <key>uni25DD</key>
    <string>uni25D_D_.glif</string>
    <key>uni25DD.curve</key>
    <string>uni25D_D_.curve.glif</string>
    <key>uni25DE</key>
    <string>uni25D_E_.glif</string>
    <key>uni25DF</key>
    <string>uni25D_F_.glif</string>
    <key>uni27A1.n</key>
    <string>uni27A_1.n.glif</string>
    <key>uni27A1.s</key>
    <string>uni27A_1.s.glif</string>
    <key>uni2B1B</key>
    <string>uni2B_1B_.glif</string>
    <key>uni2B1B.chevron_e</key>
    <string>uni2B_1B_.chevron_e.glif</string>
    <key>uni2B1B.chevron_n</key>
    <string>uni2B_1B_.chevron_n.glif</string>
    <key>uni2B1B.chevron_s</key>
    <string>uni2B_1B_.chevron_s.glif</string>
    <key>uni2B1B.chevron_w</key>
    <string>uni2B_1B_.chevron_w.glif</string>
    <key>uni2B1B.semichevron_n</key>
    <string>uni2B_1B_.semichevron_n.glif</string>
    <key>uni2B1B.semichevron_s</key>
    <string>uni2B_1B_.semichevron_s.glif</string>
    <key>uni2B1B.trapezoid_e</key>
    <string>uni2B_1B_.trapezoid_e.glif</string>
    <key>uni2B1B.trapezoid_w</key>
    <string>uni2B_1B_.trapezoid_w.glif</string>
    <key>uni2B24</key>
    <string>uni2B_24.glif</string>
    <key>uni2B24.salt</key>
    <string>uni2B_24.salt.glif</string>
    <key>zero.v</key>
    <string>zero.v.glif</string>
  </dict>
</plist>
