<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>939411C0-B308-4C04-905E-34904083568F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Adieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Agrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Amacron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Atilde.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccedilla.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ccircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cdotaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ebreve.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ebreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Edotaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Egrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Emacron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng.v</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gbreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gcommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gdotaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hcircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I_I.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ibreve.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ibreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Icircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idotaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Igrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Imacron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Itilde.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Itilde.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jcircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kcommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lcommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ldot.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ncommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ntilde.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Obreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Odieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ograve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohungarumlaut.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Otilde.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Racute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Rcommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scedilla.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scommaaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar.v</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tcommaaccent.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ubreve.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ucircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ugrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhungarumlaut.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Umacron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uring.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Utilde.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wcircumflex.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wcircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wdieresis.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wdieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wgrave.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Wgrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.salt_s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ycircumflex.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ycircumflex.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ydieresis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ygrave.salt_v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ygrave.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.s_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zacute.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zcaron.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zdotaccent.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowdown.chevron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowleft.chevron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowright.chevron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowup.chevron</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.block.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccent.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotleft.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemotright.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.salt_v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.v</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AB.v_arrow</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AC.v_arrow</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_bevel</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_deco</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_rounded</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_spike</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_square</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_wings</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_bevel</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_deco</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_rounded</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_spike</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_square</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_wings</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DC</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DD</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DD.curve</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DE</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DF</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni27A1.n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni27A1.s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.chevron_e</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.chevron_n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.chevron_s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.chevron_w</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.semichevron_n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.semichevron_s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.trapezoid_e</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.trapezoid_w</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B24</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B24.salt</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.v</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
