<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB504C31-2F6A-45FE-B0BC-D21CAE031FB4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Delta</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng.v</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X.salt</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arrowleft.chevron</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.blackuppointingtriangle</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecmb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.sups</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.estimated</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.sups</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.infinity</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.liter</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lozenge</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcmb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringhalfright</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.sups</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.summation</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u1F599</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AA</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21AB.arrow</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.bevel</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.deco</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.rounded</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.spike</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.square</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_bevel</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_deco</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.v_wings</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D6.wings</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.bevel</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.deco</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.v_deco</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25D7.wings</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DC</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni25DD.curve</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni27A1</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.chevron_e</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.semichevron_e</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B1B.trapezoid_e</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B24</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni2B24.salt</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
