<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Eng</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_L</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_grave</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-30</integer>
		<key>quoteleft.salt</key>
		<integer>-50</integer>
		<key>quoteright.salt</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-130</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>-5</integer>
		<key>@MMK_R_copyright</key>
		<integer>-5</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>ampersand.salt</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-15</integer>
		<key>at</key>
		<integer>-5</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>dagger</key>
		<integer>-10</integer>
		<key>daggerdbl</key>
		<integer>-10</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_I.salt</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_I.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-5</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-5</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>daggerdbl</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Oslash</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-130</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_accent_Jcircumflex</key>
		<integer>-60</integer>
		<key>@MMK_R_accent_Lacute</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-10</integer>
		<key>@MMK_R_copyright</key>
		<integer>-5</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>ampersand.salt</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>dagger</key>
		<integer>-10</integer>
		<key>daggerdbl</key>
		<integer>-10</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Q</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_Lcaron</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_L</key>
		<integer>-15</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_Lcaron</key>
		<integer>-15</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-5</integer>
		<key>@MMK_R_accent_caron</key>
		<integer>-5</integer>
		<key>@MMK_R_accent_grave</key>
		<integer>-5</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_Jcircumflex</key>
		<integer>-40</integer>
		<key>@MMK_R_accent_Lacute</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_grave</key>
		<integer>-5</integer>
		<key>@MMK_R_copyright</key>
		<integer>-5</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-5</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-5</integer>
		<key>ampersand</key>
		<integer>-5</integer>
		<key>ampersand.salt</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>at</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>dagger</key>
		<integer>-10</integer>
		<key>daggerdbl</key>
		<integer>-5</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-15</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_accent_cedilla</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_dotaccent</key>
		<integer>5</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_accent_commaaccent</key>
	<dict>
		<key>@MMK_R_accent_circumflex</key>
		<integer>5</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>10</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_accent_ogonek</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_B</key>
		<integer>-10</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_L</key>
		<integer>-110</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-40</integer>
		<key>@MMK_R_accent_grave</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-130</integer>
		<key>quoteright.salt</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_accent_ogonek_center</key>
	<dict>
		<key>@MMK_R_L</key>
		<integer>-15</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>5</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_copyright</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_guillemotleft</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_guillemotright</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_parenleft</key>
	<dict>
		<key>@MMK_R_I.salt</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_Jcircumflex</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_Lacute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_breve</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_caron</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_dotaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_flat</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_grave</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>-10</integer>
		<key>@MMK_R_zero</key>
		<integer>-10</integer>
		<key>eight</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-5</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-5</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-5</integer>
	</dict>
	<key>ampersand.salt</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-20</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-20</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_L</key>
		<integer>-15</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
	</dict>
	<key>dagger</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
	</dict>
	<key>daggerdbl</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-5</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-5</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>less</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_L</key>
		<integer>-100</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-50</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
		<key>@MMK_R_zero</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-5</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>cent</key>
		<integer>-10</integer>
		<key>eight</key>
		<integer>-10</integer>
		<key>greater</key>
		<integer>-60</integer>
		<key>minute</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-10</integer>
		<key>ordfeminine</key>
		<integer>-10</integer>
		<key>ordmasculine</key>
		<integer>-10</integer>
		<key>plus</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-110</integer>
		<key>quoteright.salt</key>
		<integer>-110</integer>
		<key>six</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>four.sups</key>
	<dict>
		<key>quoteleft.salt</key>
		<integer>-60</integer>
		<key>quoteright.salt</key>
		<integer>-60</integer>
	</dict>
	<key>less</key>
	<dict>
		<key>one</key>
		<integer>-40</integer>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
	</dict>
	<key>quoteleft.salt</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-10</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-160</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_Jcircumflex</key>
		<integer>-70</integer>
		<key>@MMK_R_accent_Lacute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_Lcaron</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_dotaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_zero</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>eight</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>-10</integer>
	</dict>
	<key>quoteright.salt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_AE</key>
		<integer>-20</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_I.salt</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-160</integer>
		<key>@MMK_R_L</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_Jcircumflex</key>
		<integer>-80</integer>
		<key>@MMK_R_accent_Lacute</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_Lcaron</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_acute</key>
		<integer>-30</integer>
		<key>@MMK_R_accent_circumflex</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_dotaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_accent_ring</key>
		<integer>-10</integer>
		<key>@MMK_R_accent_tilde</key>
		<integer>-10</integer>
		<key>@MMK_R_zero</key>
		<integer>-20</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>eight</key>
		<integer>-20</integer>
		<key>nine</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>registered</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>@MMK_R_zero</key>
		<integer>-5</integer>
		<key>Euro</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>eight</key>
		<integer>-5</integer>
		<key>four</key>
		<integer>-5</integer>
		<key>less</key>
		<integer>-30</integer>
		<key>quoteleft.salt</key>
		<integer>-10</integer>
		<key>quoteright.salt</key>
		<integer>-5</integer>
		<key>six</key>
		<integer>-5</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>-10</integer>
		<key>quoteleft.salt</key>
		<integer>-20</integer>
		<key>quoteright.salt</key>
		<integer>-10</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_L</key>
		<integer>-30</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_I.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_L</key>
		<integer>-10</integer>
		<key>@MMK_R_Thorn</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>less</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
