<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-5</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-5</integer>
    </dict>
    <key>ampersand.salt</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-20</integer>
      <key>public.kern2.Thorn</key>
      <integer>-20</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.L</key>
      <integer>-15</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
    </dict>
    <key>dagger</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>daggerdbl</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-5</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-5</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>less</key>
      <integer>-20</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>ampersand</key>
      <integer>-5</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>cent</key>
      <integer>-10</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>greater</key>
      <integer>-60</integer>
      <key>minute</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>ordfeminine</key>
      <integer>-10</integer>
      <key>ordmasculine</key>
      <integer>-10</integer>
      <key>plus</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-100</integer>
      <key>public.kern2.Thorn</key>
      <integer>-50</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-110</integer>
      <key>quoteright.salt</key>
      <integer>-110</integer>
      <key>six</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>space</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>less</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-20</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Eng</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.accent_grave</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-30</integer>
      <key>quoteleft.salt</key>
      <integer>-50</integer>
      <key>quoteright.salt</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>ampersand.salt</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>at</key>
      <integer>-5</integer>
      <key>backslash</key>
      <integer>-30</integer>
      <key>dagger</key>
      <integer>-10</integer>
      <key>daggerdbl</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.AE</key>
      <integer>-10</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Oslash</key>
      <integer>-30</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-10</integer>
      <key>public.kern2.accent_ring</key>
      <integer>-5</integer>
      <key>public.kern2.copyright</key>
      <integer>-5</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-10</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>registered</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.I.salt</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>daggerdbl</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-5</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Oslash</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>ampersand.salt</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>backslash</key>
      <integer>-30</integer>
      <key>dagger</key>
      <integer>-10</integer>
      <key>daggerdbl</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.AE</key>
      <integer>-10</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Oslash</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.accent_Jcircumflex</key>
      <integer>-60</integer>
      <key>public.kern2.accent_Lacute</key>
      <integer>-10</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-10</integer>
      <key>public.kern2.copyright</key>
      <integer>-5</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-10</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>registered</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Q</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.accent_Lcaron</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>-30</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.L</key>
      <integer>-15</integer>
      <key>public.kern2.Oslash</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.accent_Lcaron</key>
      <integer>-15</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-5</integer>
      <key>public.kern2.accent_caron</key>
      <integer>-5</integer>
      <key>public.kern2.accent_grave</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>ampersand</key>
      <integer>-5</integer>
      <key>ampersand.salt</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>at</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>dagger</key>
      <integer>-10</integer>
      <key>daggerdbl</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.AE</key>
      <integer>-10</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Oslash</key>
      <integer>-30</integer>
      <key>public.kern2.accent_Jcircumflex</key>
      <integer>-40</integer>
      <key>public.kern2.accent_Lacute</key>
      <integer>-10</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-10</integer>
      <key>public.kern2.accent_grave</key>
      <integer>-5</integer>
      <key>public.kern2.copyright</key>
      <integer>-5</integer>
      <key>public.kern2.guillemotleft</key>
      <integer>-10</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-5</integer>
      <key>registered</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-15</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.accent_circumflex</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.accent_cedilla</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.accent_dotaccent</key>
      <integer>5</integer>
      <key>public.kern2.accent_ring</key>
      <integer>10</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.accent_commaaccent</key>
    <dict>
      <key>public.kern2.accent_circumflex</key>
      <integer>5</integer>
      <key>public.kern2.accent_ring</key>
      <integer>10</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.accent_ogonek</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.B</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-5</integer>
      <key>public.kern2.L</key>
      <integer>-110</integer>
      <key>public.kern2.Thorn</key>
      <integer>-40</integer>
      <key>public.kern2.accent_grave</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-130</integer>
      <key>quoteright.salt</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.accent_ogonek_center</key>
    <dict>
      <key>public.kern2.L</key>
      <integer>-15</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>5</integer>
      <key>public.kern2.accent_ring</key>
      <integer>10</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.copyright</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.guillemotleft</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.Thorn</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.guillemotright</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>-10</integer>
      <key>public.kern2.I.salt</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.accent_Jcircumflex</key>
      <integer>-20</integer>
      <key>public.kern2.accent_Lacute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-10</integer>
      <key>public.kern2.accent_breve</key>
      <integer>-10</integer>
      <key>public.kern2.accent_caron</key>
      <integer>-10</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-10</integer>
      <key>public.kern2.accent_dotaccent</key>
      <integer>-20</integer>
      <key>public.kern2.accent_flat</key>
      <integer>-10</integer>
      <key>public.kern2.accent_grave</key>
      <integer>-10</integer>
      <key>public.kern2.accent_ring</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.L</key>
      <integer>-5</integer>
    </dict>
    <key>quoteleft.salt</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>-10</integer>
      <key>public.kern2.AE</key>
      <integer>-10</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.I.salt</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-160</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Oslash</key>
      <integer>-30</integer>
      <key>public.kern2.accent_Jcircumflex</key>
      <integer>-70</integer>
      <key>public.kern2.accent_Lacute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_Lcaron</key>
      <integer>-10</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-30</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-20</integer>
      <key>public.kern2.accent_dotaccent</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-10</integer>
    </dict>
    <key>quoteright.salt</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>eight</key>
      <integer>-20</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.AE</key>
      <integer>-20</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.I.salt</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-160</integer>
      <key>public.kern2.L</key>
      <integer>-5</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Oslash</key>
      <integer>-30</integer>
      <key>public.kern2.accent_Jcircumflex</key>
      <integer>-80</integer>
      <key>public.kern2.accent_Lacute</key>
      <integer>-20</integer>
      <key>public.kern2.accent_Lcaron</key>
      <integer>-10</integer>
      <key>public.kern2.accent_acute</key>
      <integer>-30</integer>
      <key>public.kern2.accent_circumflex</key>
      <integer>-20</integer>
      <key>public.kern2.accent_dotaccent</key>
      <integer>-20</integer>
      <key>public.kern2.accent_ring</key>
      <integer>-10</integer>
      <key>public.kern2.accent_tilde</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>registered</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>Euro</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>eight</key>
      <integer>-5</integer>
      <key>four</key>
      <integer>-5</integer>
      <key>less</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-5</integer>
      <key>quoteleft.salt</key>
      <integer>-10</integer>
      <key>quoteright.salt</key>
      <integer>-5</integer>
      <key>six</key>
      <integer>-5</integer>
      <key>space</key>
      <integer>-10</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>-10</integer>
      <key>quoteleft.salt</key>
      <integer>-20</integer>
      <key>quoteright.salt</key>
      <integer>-10</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.L</key>
      <integer>-30</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.I.salt</key>
      <integer>-10</integer>
      <key>public.kern2.L</key>
      <integer>-10</integer>
      <key>public.kern2.Thorn</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>less</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
