<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A_____</string>
		<string>Aring_____</string>
		<string>Adieresis_____</string>
		<string>Atilde_____</string>
		<string>Aacute_____</string>
		<string>Agrave_____</string>
		<string>Acircumflex_____</string>
		<string>Amacron_____</string>
		<string>Aogonek_____</string>
		<string>Abreve_____</string>
	</array>
	<key>@MMK_L_A.salt</key>
	<array>
		<string>A.salt_____</string>
		<string>Aogonek.salt_____</string>
		<string>Abreve.salt_____</string>
		<string>Eng_____</string>
		<string>Aacute.salt_____</string>
		<string>M.salt_____</string>
		<string>Ncaron.salt_____</string>
		<string>Acircumflex.salt_____</string>
		<string>Adieresis.salt_____</string>
		<string>Amacron.salt_____</string>
		<string>Aring.salt_____</string>
		<string>Ntilde.salt_____</string>
		<string>Agrave.salt_____</string>
		<string>N.salt_____</string>
		<string>Nacute.salt_____</string>
		<string>Ncommaaccent.salt_____</string>
		<string>Atilde.salt_____</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B_____</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Cacute_____</string>
		<string>Cdotaccent_____</string>
		<string>C_____</string>
		<string>Ccaron_____</string>
		<string>Ccircumflex_____</string>
		<string>Ccedilla_____</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Egrave_____</string>
		<string>Eogonek_____</string>
		<string>AE_____</string>
		<string>AE.salt_____</string>
		<string>Ecircumflex_____</string>
		<string>Ebreve_____</string>
		<string>Emacron_____</string>
		<string>Eacute_____</string>
		<string>E_____</string>
		<string>Ecaron_____</string>
		<string>OE_____</string>
		<string>Edieresis_____</string>
		<string>Edotaccent_____</string>
		<string>E.salt_____</string>
		<string>Eacute.salt_____</string>
		<string>Ebreve.salt_____</string>
		<string>Ecaron.salt_____</string>
		<string>Ecircumflex.salt_____</string>
		<string>Edieresis.salt_____</string>
		<string>Edotaccent.salt_____</string>
		<string>Egrave.salt_____</string>
		<string>Emacron.salt_____</string>
		<string>Eogonek.salt_____</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F_____</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>Gdotaccent_____</string>
		<string>Gbreve_____</string>
		<string>G_____</string>
		<string>Gcircumflex_____</string>
		<string>Gcommaaccent_____</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>Iacute.salt_____</string>
		<string>Hcircumflex_____</string>
		<string>Igrave.salt_____</string>
		<string>Ntilde_____</string>
		<string>Idieresis.salt_____</string>
		<string>Ibreve.salt_____</string>
		<string>Idotaccent.salt_____</string>
		<string>Iogonek.salt_____</string>
		<string>I.salt_____</string>
		<string>H_____</string>
		<string>M_____</string>
		<string>N_____</string>
		<string>Ncommaaccent_____</string>
		<string>Ncaron_____</string>
		<string>Hbar_____</string>
		<string>Icircumflex.salt_____</string>
		<string>Nacute_____</string>
		<string>Itilde.salt_____</string>
		<string>Imacron.salt_____</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>Idieresis_____</string>
		<string>Iacute_____</string>
		<string>Iogonek_____</string>
		<string>I_____</string>
		<string>Idotaccent_____</string>
		<string>Igrave_____</string>
		<string>Itilde_____</string>
		<string>Icircumflex_____</string>
		<string>Imacron_____</string>
		<string>Ibreve_____</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K_____</string>
		<string>Kcommaaccent_____</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lcommaaccent_____</string>
		<string>L_____</string>
		<string>Lacute_____</string>
		<string>Lslash_____</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Otilde_____</string>
		<string>Dcaron_____</string>
		<string>Odieresis_____</string>
		<string>Ohungarumlaut_____</string>
		<string>Dcroat_____</string>
		<string>Oslash_____</string>
		<string>Omacron_____</string>
		<string>D_____</string>
		<string>O_____</string>
		<string>Q_____</string>
		<string>Eth_____</string>
		<string>Oacute_____</string>
		<string>Ograve_____</string>
		<string>Ocircumflex_____</string>
		<string>Obreve_____</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P_____</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute_____</string>
		<string>Rcommaaccent_____</string>
		<string>Rcaron_____</string>
		<string>R_____</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>Scircumflex_____</string>
		<string>Scommaaccent_____</string>
		<string>Scedilla_____</string>
		<string>S_____</string>
		<string>Sacute_____</string>
		<string>Scaron_____</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T_____</string>
		<string>Tcommaaccent_____</string>
		<string>Tcaron_____</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn_____</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Utilde_____</string>
		<string>Uogonek_____</string>
		<string>Ucircumflex_____</string>
		<string>Ubreve_____</string>
		<string>Umacron_____</string>
		<string>W.salt_____</string>
		<string>Wcircumflex.salt_____</string>
		<string>Wgrave.salt_____</string>
		<string>Wdieresis.salt_____</string>
		<string>J_____</string>
		<string>IJ.salt_____</string>
		<string>IJ_____</string>
		<string>U_____</string>
		<string>Wacute.salt_____</string>
		<string>Udieresis_____</string>
		<string>Uhungarumlaut_____</string>
		<string>Jcircumflex_____</string>
		<string>Uring_____</string>
		<string>Ugrave_____</string>
		<string>Uacute_____</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V_____</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>Wgrave_____</string>
		<string>Wcircumflex_____</string>
		<string>W_____</string>
		<string>Wacute_____</string>
		<string>Wdieresis_____</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X_____</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Ycircumflex_____</string>
		<string>Ydieresis_____</string>
		<string>Yacute_____</string>
		<string>Y_____</string>
		<string>Ygrave_____</string>
	</array>
	<key>@MMK_L_Y.salt</key>
	<array>
		<string>Yacute.salt_____</string>
		<string>Ygrave.salt_____</string>
		<string>Ycircumflex.salt_____</string>
		<string>Y.salt_____</string>
		<string>Ydieresis.salt_____</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Zcaron_____</string>
		<string>Zdotaccent_____</string>
		<string>Zacute_____</string>
		<string>Z_____</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon_____</string>
		<string>semicolon_____</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma_____</string>
		<string>period_____</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
		<string>hyphen_____</string>
		<string>endash_____</string>
		<string>emdash_____</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guilsinglleft_____</string>
		<string>guillemotleft_____</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright_____</string>
		<string>guilsinglright_____</string>
	</array>
	<key>@MMK_L_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft_____</string>
		<string>parenleft_____</string>
		<string>braceleft_____</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>perthousand_____</string>
		<string>percent_____</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft_____</string>
		<string>quoteleft_____</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright_____</string>
		<string>quotedblright_____</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotedblbase_____</string>
		<string>quotesinglbase_____</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl_____</string>
		<string>quotesingle_____</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>Atilde_____</string>
		<string>AE_____</string>
		<string>Adieresis_____</string>
		<string>Aacute_____</string>
		<string>Acircumflex_____</string>
		<string>A_____</string>
		<string>Amacron_____</string>
		<string>Aogonek_____</string>
		<string>Aring_____</string>
		<string>Agrave_____</string>
		<string>Abreve_____</string>
	</array>
	<key>@MMK_R_A.salt</key>
	<array>
		<string>Amacron.salt_____</string>
		<string>Aogonek.salt_____</string>
		<string>Abreve.salt_____</string>
		<string>Eng_____</string>
		<string>Aacute.salt_____</string>
		<string>M.salt_____</string>
		<string>Ncaron.salt_____</string>
		<string>Acircumflex.salt_____</string>
		<string>Adieresis.salt_____</string>
		<string>AE.salt_____</string>
		<string>A.salt_____</string>
		<string>Ntilde.salt_____</string>
		<string>Agrave.salt_____</string>
		<string>N.salt_____</string>
		<string>Nacute.salt_____</string>
		<string>Ncommaaccent.salt_____</string>
		<string>Atilde.salt_____</string>
		<string>Aring.salt_____</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>Ecaron_____</string>
		<string>Egrave_____</string>
		<string>Eogonek_____</string>
		<string>Ecircumflex_____</string>
		<string>Ebreve_____</string>
		<string>Edieresis_____</string>
		<string>Emacron_____</string>
		<string>Eacute_____</string>
		<string>E_____</string>
		<string>Edotaccent_____</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>Iacute.salt_____</string>
		<string>Racute_____</string>
		<string>Kcommaaccent_____</string>
		<string>Hcircumflex_____</string>
		<string>Rcaron_____</string>
		<string>Igrave.salt_____</string>
		<string>Ntilde_____</string>
		<string>Lacute_____</string>
		<string>Idieresis.salt_____</string>
		<string>Lslash_____</string>
		<string>Ibreve.salt_____</string>
		<string>Imacron.salt_____</string>
		<string>Idotaccent.salt_____</string>
		<string>Iogonek.salt_____</string>
		<string>Rcommaaccent_____</string>
		<string>I.salt_____</string>
		<string>Thorn_____</string>
		<string>B_____</string>
		<string>F_____</string>
		<string>H_____</string>
		<string>K_____</string>
		<string>M_____</string>
		<string>L_____</string>
		<string>N_____</string>
		<string>P_____</string>
		<string>IJ.salt_____</string>
		<string>R_____</string>
		<string>Ncommaaccent_____</string>
		<string>Ncaron_____</string>
		<string>Hbar_____</string>
		<string>Nacute_____</string>
		<string>Lcommaaccent_____</string>
		<string>Itilde.salt_____</string>
		<string>Icircumflex.salt_____</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>Itilde_____</string>
		<string>Ibreve_____</string>
		<string>Iacute_____</string>
		<string>Icircumflex_____</string>
		<string>Imacron_____</string>
		<string>Iogonek_____</string>
		<string>I_____</string>
		<string>Idotaccent_____</string>
		<string>IJ_____</string>
		<string>Idieresis_____</string>
		<string>Igrave_____</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J_____</string>
		<string>Jcircumflex_____</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Otilde_____</string>
		<string>Ccaron_____</string>
		<string>Dcaron_____</string>
		<string>Gcircumflex_____</string>
		<string>Gcommaaccent_____</string>
		<string>Gdotaccent_____</string>
		<string>Gbreve_____</string>
		<string>G_____</string>
		<string>Odieresis_____</string>
		<string>Ohungarumlaut_____</string>
		<string>Cacute_____</string>
		<string>Ccircumflex_____</string>
		<string>Dcroat_____</string>
		<string>OE_____</string>
		<string>Oslash_____</string>
		<string>Omacron_____</string>
		<string>D_____</string>
		<string>O_____</string>
		<string>Q_____</string>
		<string>Eth_____</string>
		<string>Oacute_____</string>
		<string>Cdotaccent_____</string>
		<string>C_____</string>
		<string>Ograve_____</string>
		<string>Obreve_____</string>
		<string>Ccedilla_____</string>
		<string>Ocircumflex_____</string>
		<string>E.salt_____</string>
		<string>Eacute.salt_____</string>
		<string>Ebreve.salt_____</string>
		<string>Ecaron.salt_____</string>
		<string>Ecircumflex.salt_____</string>
		<string>Edieresis.salt_____</string>
		<string>Edotaccent.salt_____</string>
		<string>Egrave.salt_____</string>
		<string>Emacron.salt_____</string>
		<string>Eogonek.salt_____</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>Scircumflex_____</string>
		<string>Scommaaccent_____</string>
		<string>Scedilla_____</string>
		<string>S_____</string>
		<string>Sacute_____</string>
		<string>Scaron_____</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T_____</string>
		<string>Tcommaaccent_____</string>
		<string>Tcaron_____</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Utilde_____</string>
		<string>Uogonek_____</string>
		<string>Ucircumflex_____</string>
		<string>Ubreve_____</string>
		<string>Umacron_____</string>
		<string>W.salt_____</string>
		<string>Wcircumflex.salt_____</string>
		<string>Wgrave.salt_____</string>
		<string>Uhungarumlaut_____</string>
		<string>U_____</string>
		<string>Wacute.salt_____</string>
		<string>Udieresis_____</string>
		<string>Wdieresis.salt_____</string>
		<string>Uring_____</string>
		<string>Ugrave_____</string>
		<string>Uacute_____</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V_____</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>Wgrave_____</string>
		<string>Wcircumflex_____</string>
		<string>W_____</string>
		<string>Wacute_____</string>
		<string>Wdieresis_____</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X_____</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Ycircumflex_____</string>
		<string>Ygrave_____</string>
		<string>Ydieresis_____</string>
		<string>Y_____</string>
		<string>Yacute_____</string>
	</array>
	<key>@MMK_R_Y.salt</key>
	<array>
		<string>Yacute.salt_____</string>
		<string>Ygrave.salt_____</string>
		<string>Ycircumflex.salt_____</string>
		<string>Y.salt_____</string>
		<string>Ydieresis.salt_____</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z_____</string>
		<string>Zcaron_____</string>
		<string>Zdotaccent_____</string>
		<string>Zacute_____</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon_____</string>
		<string>semicolon_____</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma_____</string>
		<string>period_____</string>
	</array>
	<key>@MMK_R_dash</key>
	<array>
		<string>hyphen_____</string>
		<string>endash_____</string>
		<string>emdash_____</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft_____</string>
		<string>guilsinglleft_____</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright_____</string>
		<string>guilsinglright_____</string>
	</array>
	<key>@MMK_R_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>bracketleft_____</string>
		<string>parenleft_____</string>
		<string>braceleft_____</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>perthousand_____</string>
		<string>percent_____</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft_____</string>
		<string>quoteleft_____</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright_____</string>
		<string>quotedblright_____</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase_____</string>
		<string>quotesinglbase_____</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl_____</string>
		<string>quotesingle_____</string>
	</array>
	<key>vertical</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>commaaccent</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>ampersand</string>
	</array>
	<key>vertical_off</key>
	<array>
		<string>space_____</string>
		<string>A_____</string>
		<string>Agrave_____</string>
		<string>Aacute_____</string>
		<string>Acircumflex_____</string>
		<string>Atilde_____</string>
		<string>Adieresis_____</string>
		<string>Aring_____</string>
		<string>Amacron_____</string>
		<string>Abreve_____</string>
		<string>Aogonek_____</string>
		<string>B_____</string>
		<string>C_____</string>
		<string>Ccedilla_____</string>
		<string>Cacute_____</string>
		<string>Ccircumflex_____</string>
		<string>Cdotaccent_____</string>
		<string>Ccaron_____</string>
		<string>D_____</string>
		<string>Dcaron_____</string>
		<string>E_____</string>
		<string>Egrave_____</string>
		<string>Eacute_____</string>
		<string>Ecircumflex_____</string>
		<string>Edieresis_____</string>
		<string>Emacron_____</string>
		<string>Ebreve_____</string>
		<string>Edotaccent_____</string>
		<string>Eogonek_____</string>
		<string>Ecaron_____</string>
		<string>F_____</string>
		<string>G_____</string>
		<string>Gcircumflex_____</string>
		<string>Gbreve_____</string>
		<string>Gdotaccent_____</string>
		<string>Gcommaaccent_____</string>
		<string>H_____</string>
		<string>Hcircumflex_____</string>
		<string>I_____</string>
		<string>Igrave_____</string>
		<string>Iacute_____</string>
		<string>Icircumflex_____</string>
		<string>Idieresis_____</string>
		<string>Itilde_____</string>
		<string>Imacron_____</string>
		<string>Ibreve_____</string>
		<string>Iogonek_____</string>
		<string>Idotaccent_____</string>
		<string>J_____</string>
		<string>Jcircumflex_____</string>
		<string>K_____</string>
		<string>Kcommaaccent_____</string>
		<string>L_____</string>
		<string>Lacute_____</string>
		<string>Lcommaaccent_____</string>
		<string>Lcaron_____</string>
		<string>M_____</string>
		<string>N_____</string>
		<string>Ntilde_____</string>
		<string>Nacute_____</string>
		<string>Ncommaaccent_____</string>
		<string>Ncaron_____</string>
		<string>O_____</string>
		<string>Ograve_____</string>
		<string>Oacute_____</string>
		<string>Ocircumflex_____</string>
		<string>Otilde_____</string>
		<string>Odieresis_____</string>
		<string>Omacron_____</string>
		<string>Obreve_____</string>
		<string>Ohungarumlaut_____</string>
		<string>P_____</string>
		<string>Q_____</string>
		<string>R_____</string>
		<string>Racute_____</string>
		<string>Rcommaaccent_____</string>
		<string>Rcaron_____</string>
		<string>S_____</string>
		<string>Sacute_____</string>
		<string>Scircumflex_____</string>
		<string>Scedilla_____</string>
		<string>Scaron_____</string>
		<string>Scommaaccent_____</string>
		<string>T_____</string>
		<string>Tcommaaccent_____</string>
		<string>Tcaron_____</string>
		<string>U_____</string>
		<string>Ugrave_____</string>
		<string>Uacute_____</string>
		<string>Ucircumflex_____</string>
		<string>Udieresis_____</string>
		<string>Utilde_____</string>
		<string>Umacron_____</string>
		<string>Ubreve_____</string>
		<string>Uring_____</string>
		<string>Uhungarumlaut_____</string>
		<string>Uogonek_____</string>
		<string>V_____</string>
		<string>W_____</string>
		<string>Wcircumflex_____</string>
		<string>Wgrave_____</string>
		<string>Wacute_____</string>
		<string>Wdieresis_____</string>
		<string>X_____</string>
		<string>Y_____</string>
		<string>Yacute_____</string>
		<string>Ycircumflex_____</string>
		<string>Ydieresis_____</string>
		<string>Ygrave_____</string>
		<string>Z_____</string>
		<string>Zacute_____</string>
		<string>Zdotaccent_____</string>
		<string>Zcaron_____</string>
		<string>AE_____</string>
		<string>Eth_____</string>
		<string>Oslash_____</string>
		<string>Thorn_____</string>
		<string>Dcroat_____</string>
		<string>Hbar_____</string>
		<string>IJ_____</string>
		<string>Ldot_____</string>
		<string>Lslash_____</string>
		<string>Eng_____</string>
		<string>OE_____</string>
		<string>Tbar_____</string>
		<string>commaaccent_____</string>
		<string>zero_____</string>
		<string>one_____</string>
		<string>two_____</string>
		<string>three_____</string>
		<string>four_____</string>
		<string>five_____</string>
		<string>six_____</string>
		<string>seven_____</string>
		<string>eight_____</string>
		<string>nine_____</string>
		<string>numbersign</string>
		<string>percent_____</string>
		<string>perthousand_____</string>
		<string>quotesingle_____</string>
		<string>quotedbl_____</string>
		<string>quoteleft_____</string>
		<string>quoteright_____</string>
		<string>quotedblleft_____</string>
		<string>quotedblright_____</string>
		<string>quotesinglbase_____</string>
		<string>quotedblbase_____</string>
		<string>guilsinglleft_____</string>
		<string>guilsinglright_____</string>
		<string>guillemotleft_____</string>
		<string>guillemotright_____</string>
		<string>asterisk_____</string>
		<string>dagger_____</string>
		<string>daggerdbl_____</string>
		<string>period_____</string>
		<string>comma_____</string>
		<string>colon_____</string>
		<string>semicolon_____</string>
		<string>ellipsis_____</string>
		<string>exclam_____</string>
		<string>exclamdown_____</string>
		<string>question_____</string>
		<string>questiondown_____</string>
		<string>at</string>
		<string>ampersand_____</string>
	</array>
	<key>vertical_sorts</key>
	<array>
		<string>hyphen</string>
		<string>braceright</string>
		<string>endash</string>
		<string>parenleft</string>
		<string>emdash</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>bracketright</string>
	</array>
	<key>vertical_sorts_off</key>
	<array>
		<string>hyphen_____</string>
		<string>braceleft_____</string>
		<string>endash_____</string>
		<string>parenright_____</string>
		<string>emdash_____</string>
		<string>parenleft_____</string>
		<string>bracketright_____</string>
		<string>braceright_____</string>
		<string>bracketleft_____</string>
	</array>
</dict>
</plist>
