<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-40</integer>
		<key>quoteright.salt_____</key>
		<integer>-40</integer>
		<key>space_____</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_A.salt</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-15</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-5</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-15</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-45</integer>
		<key>quoteright.salt_____</key>
		<integer>-35</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-20</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-20</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-10</integer>
		<key>ampersand_____</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-35</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-20</integer>
		<key>quoteleft.salt_____</key>
		<integer>-40</integer>
		<key>quoteright.salt_____</key>
		<integer>-25</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-35</integer>
		<key>quoteright.salt_____</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-25</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-25</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>question_____</key>
		<integer>-20</integer>
		<key>quoteleft.salt_____</key>
		<integer>-150</integer>
		<key>quoteright.salt_____</key>
		<integer>-150</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>space_____</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-5</integer>
		<key>slash</key>
		<integer>-15</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-15</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-5</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-15</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-40</integer>
		<key>quoteright.salt_____</key>
		<integer>-50</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-10</integer>
		<key>quoteright.salt_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-30</integer>
		<key>ampersand_____</key>
		<integer>-30</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_Y.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>parenright_____</key>
		<integer>-20</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-15</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-5</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>ampersand_____</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
		<key>space_____</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>asterisk_____</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-20</integer>
		<key>quoteright.salt_____</key>
		<integer>-20</integer>
		<key>registered</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_dash</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-10</integer>
		<key>ampersand_____</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-15</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Y.salt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>ampersand_____</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>space_____</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-5</integer>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-10</integer>
		<key>quoteright.salt_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-70</integer>
		<key>four_____</key>
		<integer>-20</integer>
		<key>nine_____</key>
		<integer>-20</integer>
		<key>quoteleft.salt_____</key>
		<integer>-70</integer>
		<key>quoteright.salt_____</key>
		<integer>-70</integer>
		<key>registered</key>
		<integer>-50</integer>
		<key>seven_____</key>
		<integer>-20</integer>
		<key>space_____</key>
		<integer>-10</integer>
		<key>trademark</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_dash</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>one_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
		<key>three_____</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_guillemotleft</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_guillemotright</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>four_____</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
		<key>three_____</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_minute</key>
	<dict>
		<key>eight_____</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_plus</key>
	<dict>
		<key>eight_____</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
		<key>three_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>eight_____</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-10</integer>
		<key>questiondown_____</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-15</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>eight_____</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-10</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_quotesinglbase</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-50</integer>
		<key>four_____</key>
		<integer>-20</integer>
		<key>nine_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>eight_____</key>
		<integer>-10</integer>
	</dict>
	<key>Euro</key>
	<dict>
		<key>four_____</key>
		<integer>-20</integer>
	</dict>
	<key>ampersand_____</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
	</dict>
	<key>asterisk_____</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-25</integer>
		<key>four_____</key>
		<integer>-35</integer>
		<key>nine_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>one_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
	</dict>
	<key>degree</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>eight_____</key>
		<integer>-20</integer>
		<key>one_____</key>
		<integer>-20</integer>
	</dict>
	<key>eight_____</key>
	<dict>
		<key>@MMK_R_minute</key>
		<integer>-10</integer>
		<key>@MMK_R_percent</key>
		<integer>-30</integer>
		<key>@MMK_R_plus</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>degree</key>
		<integer>-20</integer>
		<key>four_____</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-30</integer>
		<key>quoteright.salt_____</key>
		<integer>-30</integer>
		<key>seven_____</key>
		<integer>-10</integer>
		<key>three_____</key>
		<integer>-10</integer>
	</dict>
	<key>five_____</key>
	<dict>
		<key>seven_____</key>
		<integer>-10</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>four_____</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-30</integer>
		<key>seven_____</key>
		<integer>-20</integer>
	</dict>
	<key>nine_____</key>
	<dict>
		<key>three_____</key>
		<integer>-5</integer>
	</dict>
	<key>one_____</key>
	<dict>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-40</integer>
		<key>@MMK_R_minute</key>
		<integer>-50</integer>
		<key>@MMK_R_percent</key>
		<integer>-60</integer>
		<key>@MMK_R_plus</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-50</integer>
		<key>asterisk_____</key>
		<integer>-20</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>degree</key>
		<integer>-60</integer>
		<key>four_____</key>
		<integer>-30</integer>
		<key>less</key>
		<integer>-30</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
		<key>quoteleft.salt_____</key>
		<integer>-70</integer>
		<key>quoteright.salt_____</key>
		<integer>-70</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>one_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-20</integer>
	</dict>
	<key>questiondown_____</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-10</integer>
		<key>four_____</key>
		<integer>-20</integer>
		<key>nine_____</key>
		<integer>-20</integer>
		<key>seven_____</key>
		<integer>-10</integer>
	</dict>
	<key>quoteleft.salt_____</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-85</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>eight_____</key>
		<integer>-30</integer>
		<key>one_____</key>
		<integer>-10</integer>
		<key>questiondown_____</key>
		<integer>-50</integer>
	</dict>
	<key>quoteright.salt_____</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_A.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-85</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>eight_____</key>
		<integer>-30</integer>
		<key>one_____</key>
		<integer>-10</integer>
		<key>space_____</key>
		<integer>-10</integer>
	</dict>
	<key>registered</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
	</dict>
	<key>seven_____</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>eight_____</key>
		<integer>-5</integer>
		<key>greater</key>
		<integer>-10</integer>
		<key>less</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>six_____</key>
	<dict>
		<key>@MMK_R_minute</key>
		<integer>-10</integer>
		<key>@MMK_R_percent</key>
		<integer>-30</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-10</integer>
		<key>four_____</key>
		<integer>-10</integer>
		<key>question_____</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-30</integer>
		<key>quoteright.salt_____</key>
		<integer>-30</integer>
		<key>seven_____</key>
		<integer>-15</integer>
		<key>three_____</key>
		<integer>-5</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>eight_____</key>
		<integer>-20</integer>
	</dict>
	<key>space_____</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_Y.salt</key>
		<integer>-5</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-10</integer>
		<key>quoteleft.salt_____</key>
		<integer>-10</integer>
	</dict>
	<key>three_____</key>
	<dict>
		<key>@MMK_R_minute</key>
		<integer>-20</integer>
		<key>@MMK_R_percent</key>
		<integer>-30</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>@MMK_R_quotesingle</key>
		<integer>-20</integer>
		<key>degree</key>
		<integer>-20</integer>
		<key>four_____</key>
		<integer>-10</integer>
		<key>less</key>
		<integer>-20</integer>
		<key>quoteleft.salt_____</key>
		<integer>-40</integer>
		<key>quoteright.salt_____</key>
		<integer>-30</integer>
		<key>seven_____</key>
		<integer>-10</integer>
	</dict>
	<key>trademark</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
	</dict>
	<key>two_____</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-10</integer>
		<key>four_____</key>
		<integer>-5</integer>
		<key>less</key>
		<integer>-10</integer>
	</dict>
	<key>zero_____</key>
	<dict>
		<key>three_____</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
