<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>c</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>g</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>OE</string>
		<string>oe</string>
		<string>C.s</string>
		<string>G.s</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>E.salt</string>
		<string>Eacute.salt</string>
		<string>Ebreve.salt</string>
		<string>Ecaron.salt</string>
		<string>Ecircumflex.salt</string>
		<string>Edieresis.salt</string>
		<string>Edotaccent.salt</string>
		<string>Egrave.salt</string>
		<string>Emacron.salt</string>
		<string>E.salt_s</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>d</string>
		<string>Dcaron</string>
		<string>S</string>
		<string>s</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Eth</string>
		<string>eth</string>
		<string>Dcroat</string>
		<string>IJ</string>
		<string>ij</string>
		<string>D.s</string>
		<string>S.s</string>
		<string>B</string>
		<string>b</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scircumflex</string>
		<string>dcaron</string>
		<string>germandbls</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_Eng</key>
	<array>
		<string>Eng</string>
		<string>eng</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>f</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>A</string>
		<string>a</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>aring</string>
		<string>Atilde</string>
		<string>H</string>
		<string>h</string>
		<string>Hcircumflex</string>
		<string>K</string>
		<string>k</string>
		<string>N</string>
		<string>n</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>R</string>
		<string>r</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>X</string>
		<string>x</string>
		<string>Hbar</string>
		<string>hbar</string>
		<string>A.s</string>
		<string>H.s</string>
		<string>K.s</string>
		<string>N.s</string>
		<string>R.s</string>
		<string>A.salt</string>
		<string>Aacute.salt</string>
		<string>Abreve.salt</string>
		<string>Acircumflex.salt</string>
		<string>Adieresis.salt</string>
		<string>Agrave.salt</string>
		<string>Amacron.salt</string>
		<string>Aring.salt</string>
		<string>Atilde.salt</string>
		<string>N.salt</string>
		<string>Nacute.salt</string>
		<string>Ncaron.salt</string>
		<string>Ntilde.salt</string>
		<string>A.salt_s</string>
		<string>N.salt_s</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>atilde</string>
		<string>hcircumflex</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>X.salt</string>
		<string>I_I.salt</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>E</string>
		<string>e</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>I</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Itilde</string>
		<string>L</string>
		<string>l</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Z</string>
		<string>z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>AE</string>
		<string>ae</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>E.s</string>
		<string>I.s</string>
		<string>L.s</string>
		<string>Z.s</string>
		<string>AE.salt</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>ecaron</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>M.salt</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>L.salt</string>
		<string>Lacute.salt</string>
		<string>Lcaron.salt</string>
		<string>Lslash.salt</string>
		<string>L.salt_s</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>m</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>J</string>
		<string>j</string>
		<string>Jcircumflex</string>
		<string>O</string>
		<string>o</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
		<string>U</string>
		<string>u</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>J.s</string>
		<string>O.s</string>
		<string>U.s</string>
		<string>IJ.salt</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uring</string>
		<string>utilde</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_Oslash</key>
	<array>
		<string>Oslash</string>
		<string>oslash</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>p</string>
	</array>
	<key>@MMK_L_Q</key>
	<array>
		<string>Q</string>
		<string>q</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>t</string>
		<string>Tcaron</string>
		<string>Y</string>
		<string>y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>T.s</string>
		<string>Y.s</string>
		<string>I.salt</string>
		<string>Iacute.salt</string>
		<string>Ibreve.salt</string>
		<string>Icircumflex.salt</string>
		<string>Idieresis.salt</string>
		<string>Idotaccent.salt</string>
		<string>Igrave.salt</string>
		<string>Imacron.salt</string>
		<string>Itilde.salt</string>
		<string>Y.salt</string>
		<string>Yacute.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Ydieresis.salt</string>
		<string>Ygrave.salt</string>
		<string>I.salt_s</string>
		<string>Y.salt_s</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>v</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>w</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.s</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_W.salt</key>
	<array>
		<string>W.salt</string>
		<string>Wacute.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Wdieresis.salt</string>
		<string>Wgrave.salt</string>
		<string>W.salt_s</string>
	</array>
	<key>@MMK_L_accent_cedilla</key>
	<array>
		<string>Ccedilla</string>
		<string>Scedilla</string>
		<string>ccedilla</string>
		<string>scedilla</string>
	</array>
	<key>@MMK_L_accent_commaaccent</key>
	<array>
		<string>Gcommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>Rcommaaccent</string>
		<string>Scommaaccent</string>
		<string>Tcommaaccent</string>
		<string>gcommaaccent</string>
		<string>kcommaaccent</string>
		<string>lcommaaccent</string>
		<string>ncommaaccent</string>
		<string>Ldot</string>
		<string>ldot</string>
		<string>scommaaccent</string>
		<string>Ncommaaccent.salt</string>
		<string>rcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Lcommaaccent.salt</string>
	</array>
	<key>@MMK_L_accent_ogonek</key>
	<array>
		<string>Aogonek</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Aogonek.salt</string>
		<string>aogonek</string>
		<string>Eogonek.salt</string>
	</array>
	<key>@MMK_L_accent_ogonek_center</key>
	<array>
		<string>Iogonek</string>
		<string>uogonek</string>
		<string>Iogonek.salt</string>
		<string>Uogonek</string>
		<string>iogonek</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
		<string>uni2117</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>colon</string>
		<string>comma</string>
		<string>exclam</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>question</string>
		<string>quotesinglbase</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A.s</string>
		<string>Aogonek</string>
		<string>A</string>
		<string>a</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>b</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>c</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>g</string>
		<string>Gcommaaccent</string>
		<string>S</string>
		<string>s</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>OE</string>
		<string>oe</string>
		<string>C.s</string>
		<string>G.s</string>
		<string>S.s</string>
		<string>AE.salt</string>
		<string>ccedilla</string>
		<string>gcommaaccent</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>E.salt</string>
		<string>Eogonek.salt</string>
		<string>E.salt_s</string>
	</array>
	<key>@MMK_R_D</key>
	<array>
		<string>D</string>
		<string>d</string>
		<string>P</string>
		<string>p</string>
		<string>R</string>
		<string>r</string>
		<string>Rcommaaccent</string>
		<string>Eth</string>
		<string>eth</string>
		<string>D.s</string>
		<string>R.s</string>
		<string>Dcroat</string>
		<string>rcommaaccent</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>h</string>
		<string>K</string>
		<string>k</string>
		<string>Kcommaaccent</string>
		<string>N</string>
		<string>n</string>
		<string>Ncommaaccent</string>
		<string>U</string>
		<string>u</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>v</string>
		<string>X</string>
		<string>x</string>
		<string>Y</string>
		<string>y</string>
		<string>Hbar</string>
		<string>hbar</string>
		<string>IJ</string>
		<string>ij</string>
		<string>H.s</string>
		<string>K.s</string>
		<string>N.s</string>
		<string>U.s</string>
		<string>Y.s</string>
		<string>Y.salt</string>
		<string>Y.salt_s</string>
		<string>kcommaaccent</string>
		<string>ncommaaccent</string>
		<string>uogonek</string>
		<string>X.salt</string>
		<string>I_I.salt</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>E</string>
		<string>e</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>f</string>
		<string>I</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>Iogonek</string>
		<string>T</string>
		<string>t</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Z</string>
		<string>z</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>E.s</string>
		<string>I.s</string>
		<string>T.s</string>
		<string>Z.s</string>
		<string>eogonek</string>
		<string>iogonek</string>
	</array>
	<key>@MMK_R_I.salt</key>
	<array>
		<string>I.salt</string>
		<string>Iogonek.salt</string>
		<string>IJ.salt</string>
		<string>I.salt_s</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>j</string>
		<string>J.s</string>
	</array>
	<key>@MMK_R_L</key>
	<array>
		<string>L</string>
		<string>l</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>L.s</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>L.salt</string>
		<string>Lcommaaccent.salt</string>
		<string>Ldot.salt</string>
		<string>Lslash.salt</string>
		<string>L.salt_s</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>m</string>
	</array>
	<key>@MMK_R_M.salt</key>
	<array>
		<string>M.salt</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>o</string>
		<string>Q</string>
		<string>q</string>
		<string>Eng</string>
		<string>eng</string>
		<string>O.s</string>
		<string>A.salt</string>
		<string>Aogonek.salt</string>
		<string>N.salt</string>
		<string>Ncommaaccent.salt</string>
		<string>A.salt_s</string>
		<string>N.salt_s</string>
	</array>
	<key>@MMK_R_Oslash</key>
	<array>
		<string>Oslash</string>
		<string>oslash</string>
	</array>
	<key>@MMK_R_Thorn</key>
	<array>
		<string>Thorn</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>w</string>
		<string>W.s</string>
	</array>
	<key>@MMK_R_W.salt</key>
	<array>
		<string>W.salt</string>
		<string>W.salt_s</string>
	</array>
	<key>@MMK_R_accent_Jcircumflex</key>
	<array>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_accent_Lacute</key>
	<array>
		<string>Lacute</string>
		<string>lacute</string>
	</array>
	<key>@MMK_R_accent_Lcaron</key>
	<array>
		<string>Lcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_R_accent_acute</key>
	<array>
		<string>Aacute</string>
		<string>Cacute</string>
		<string>Eacute</string>
		<string>Iacute</string>
		<string>Nacute</string>
		<string>Oacute</string>
		<string>Racute</string>
		<string>Sacute</string>
		<string>Uacute</string>
		<string>Wacute</string>
		<string>Yacute</string>
		<string>Zacute</string>
		<string>aacute</string>
		<string>cacute</string>
		<string>eacute</string>
		<string>iacute</string>
		<string>nacute</string>
		<string>oacute</string>
		<string>racute</string>
		<string>sacute</string>
		<string>uacute</string>
		<string>wacute</string>
		<string>yacute</string>
		<string>zacute</string>
		<string>Aacute.salt</string>
		<string>Iacute.salt</string>
		<string>Nacute.salt</string>
		<string>Wacute.salt</string>
		<string>Yacute.salt</string>
		<string>Eacute.salt</string>
		<string>Lacute.salt</string>
	</array>
	<key>@MMK_R_accent_breve</key>
	<array>
		<string>Abreve</string>
		<string>Ebreve</string>
		<string>Gbreve</string>
		<string>Ibreve</string>
		<string>Obreve</string>
		<string>Ubreve</string>
		<string>abreve</string>
		<string>ebreve</string>
		<string>gbreve</string>
		<string>ibreve</string>
		<string>obreve</string>
		<string>ubreve</string>
		<string>Abreve.salt</string>
		<string>Ibreve.salt</string>
		<string>Ebreve.salt</string>
	</array>
	<key>@MMK_R_accent_caron</key>
	<array>
		<string>Ccaron</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Ncaron</string>
		<string>Rcaron</string>
		<string>Scaron</string>
		<string>Tcaron</string>
		<string>Zcaron</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>ecaron</string>
		<string>ncaron</string>
		<string>rcaron</string>
		<string>scaron</string>
		<string>tcaron</string>
		<string>zcaron</string>
		<string>Ncaron.salt</string>
		<string>Ecaron.salt</string>
	</array>
	<key>@MMK_R_accent_circumflex</key>
	<array>
		<string>Acircumflex</string>
		<string>Ccircumflex</string>
		<string>Ecircumflex</string>
		<string>Gcircumflex</string>
		<string>Hcircumflex</string>
		<string>Icircumflex</string>
		<string>Ocircumflex</string>
		<string>Scircumflex</string>
		<string>Ucircumflex</string>
		<string>Wcircumflex</string>
		<string>Ycircumflex</string>
		<string>acircumflex</string>
		<string>ccircumflex</string>
		<string>ecircumflex</string>
		<string>gcircumflex</string>
		<string>hcircumflex</string>
		<string>icircumflex</string>
		<string>ocircumflex</string>
		<string>scircumflex</string>
		<string>ucircumflex</string>
		<string>wcircumflex</string>
		<string>ycircumflex</string>
		<string>Acircumflex.salt</string>
		<string>Icircumflex.salt</string>
		<string>Wcircumflex.salt</string>
		<string>Ycircumflex.salt</string>
		<string>Ecircumflex.salt</string>
	</array>
	<key>@MMK_R_accent_dotaccent</key>
	<array>
		<string>Cdotaccent</string>
		<string>Edotaccent</string>
		<string>Gdotaccent</string>
		<string>Idotaccent</string>
		<string>Zdotaccent</string>
		<string>cdotaccent</string>
		<string>edotaccent</string>
		<string>gdotaccent</string>
		<string>zdotaccent</string>
		<string>Idotaccent.salt</string>
		<string>Edotaccent.salt</string>
	</array>
	<key>@MMK_R_accent_flat</key>
	<array>
		<string>Adieresis</string>
		<string>Edieresis</string>
		<string>Idieresis</string>
		<string>Odieresis</string>
		<string>Udieresis</string>
		<string>Wdieresis</string>
		<string>Ydieresis</string>
		<string>adieresis</string>
		<string>edieresis</string>
		<string>idieresis</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>wdieresis</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>Emacron</string>
		<string>Imacron</string>
		<string>Omacron</string>
		<string>Umacron</string>
		<string>amacron</string>
		<string>emacron</string>
		<string>imacron</string>
		<string>omacron</string>
		<string>umacron</string>
		<string>Adieresis.salt</string>
		<string>Idieresis.salt</string>
		<string>Wdieresis.salt</string>
		<string>Ydieresis.salt</string>
		<string>Amacron.salt</string>
		<string>Imacron.salt</string>
		<string>Edieresis.salt</string>
		<string>Emacron.salt</string>
	</array>
	<key>@MMK_R_accent_grave</key>
	<array>
		<string>Agrave</string>
		<string>Egrave</string>
		<string>Igrave</string>
		<string>Ograve</string>
		<string>Ugrave</string>
		<string>Wgrave</string>
		<string>Ygrave</string>
		<string>agrave</string>
		<string>egrave</string>
		<string>igrave</string>
		<string>ograve</string>
		<string>ugrave</string>
		<string>wgrave</string>
		<string>ygrave</string>
		<string>Agrave.salt</string>
		<string>Igrave.salt</string>
		<string>Wgrave.salt</string>
		<string>Ygrave.salt</string>
		<string>Egrave.salt</string>
	</array>
	<key>@MMK_R_accent_hungarumlaut</key>
	<array>
		<string>Ohungarumlaut</string>
		<string>Uhungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>uhungarumlaut</string>
	</array>
	<key>@MMK_R_accent_ring</key>
	<array>
		<string>Aring</string>
		<string>aring</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Aring.salt</string>
	</array>
	<key>@MMK_R_accent_tilde</key>
	<array>
		<string>Atilde</string>
		<string>Itilde</string>
		<string>Ntilde</string>
		<string>Otilde</string>
		<string>Utilde</string>
		<string>atilde</string>
		<string>itilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>utilde</string>
		<string>Atilde.salt</string>
		<string>Itilde.salt</string>
		<string>Ntilde.salt</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
		<string>uni2117</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>braceright</string>
		<string>bracketright</string>
		<string>parenright</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>exclam</string>
		<string>quotesingle</string>
		<string>quotesinglbase</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
	</array>
</dict>
</plist>
