<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Becyrillic.scrap_beta</key>
	<string>Becyrillic_.scrap_beta.glif</string>
	<key>Checyrillic.scrap_beta</key>
	<string>Checyrillic_.scrap_beta.glif</string>
	<key>Decyrillic.scrap_beta</key>
	<string>Decyrillic_.scrap_beta.glif</string>
	<key>Efcyrillic.scrap_beta</key>
	<string>Efcyrillic_.scrap_beta.glif</string>
	<key>Elcyrillic.scrap_beta</key>
	<string>Elcyrillic_.scrap_beta.glif</string>
	<key>Ereversedcyrillic.scrap_beta</key>
	<string>Ereversedcyrillic_.scrap_beta.glif</string>
	<key>Gecyrillic.scrap_beta</key>
	<string>Gecyrillic_.scrap_beta.glif</string>
	<key>Iacyrillic.scrap_beta</key>
	<string>Iacyrillic_.scrap_beta.glif</string>
	<key>Iicyrillic.scrap_beta</key>
	<string>Iicyrillic_.scrap_beta.glif</string>
	<key>Pecyrillic.scrap_beta</key>
	<string>Pecyrillic_.scrap_beta.glif</string>
	<key>Shchacyrillic.scrap_beta</key>
	<string>Shchacyrillic_.scrap_beta.glif</string>
	<key>Softsigncyrillic.scrap_beta</key>
	<string>Softsigncyrillic_.scrap_beta.glif</string>
	<key>Ucyrillic.scrap_beta</key>
	<string>Ucyrillic_.scrap_beta.glif</string>
	<key>Zhecyrillic.scrap_beta</key>
	<string>Zhecyrillic_.scrap_beta.glif</string>
</dict>
</plist>
