<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.s_v</key>
    <string>A_.s_v.glif</string>
    <key>A.salt</key>
    <string>A_.salt.glif</string>
    <key>A.salt_s_v</key>
    <string>A_.salt_s_v.glif</string>
    <key>A.salt_v</key>
    <string>A_.salt_v.glif</string>
    <key>A.v</key>
    <string>A_.v.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.salt</key>
    <string>A_E_.salt.glif</string>
    <key>AE.salt_v</key>
    <string>A_E_.salt_v.glif</string>
    <key>AE.v</key>
    <string>A_E_.v.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aring.salt</key>
    <string>A_ring.salt.glif</string>
    <key>Aring.salt_v</key>
    <string>A_ring.salt_v.glif</string>
    <key>Aring.v</key>
    <string>A_ring.v.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.v</key>
    <string>B_.v.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.s_v</key>
    <string>C_.s_v.glif</string>
    <key>C.v</key>
    <string>C_.v.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.s_v</key>
    <string>D_.s_v.glif</string>
    <key>D.v</key>
    <string>D_.v.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.s_v</key>
    <string>E_.s_v.glif</string>
    <key>E.salt</key>
    <string>E_.salt.glif</string>
    <key>E.salt_s_v</key>
    <string>E_.salt_s_v.glif</string>
    <key>E.salt_v</key>
    <string>E_.salt_v.glif</string>
    <key>E.v</key>
    <string>E_.v.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eng.v</key>
    <string>E_ng.v.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Eth.v</key>
    <string>E_th.v.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.v</key>
    <string>F_.v.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.s_v</key>
    <string>G_.s_v.glif</string>
    <key>G.v</key>
    <string>G_.v.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Germandbls.v</key>
    <string>G_ermandbls.v.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.s_v</key>
    <string>H_.s_v.glif</string>
    <key>H.v</key>
    <string>H_.v.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hbar.v</key>
    <string>H_bar.v.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.s_v</key>
    <string>I_.s_v.glif</string>
    <key>I.salt</key>
    <string>I_.salt.glif</string>
    <key>I.salt_s_v</key>
    <string>I_.salt_s_v.glif</string>
    <key>I.salt_v</key>
    <string>I_.salt_v.glif</string>
    <key>I.v</key>
    <string>I_.v.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJ.v</key>
    <string>I_J_.v.glif</string>
    <key>I_I.salt_v</key>
    <string>I__I_.salt_v.glif</string>
    <key>Iacute.salt</key>
    <string>I_acute.salt.glif</string>
    <key>Igrave.salt</key>
    <string>I_grave.salt.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.s_v</key>
    <string>J_.s_v.glif</string>
    <key>J.v</key>
    <string>J_.v.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.s_v</key>
    <string>K_.s_v.glif</string>
    <key>K.v</key>
    <string>K_.v.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.s_v</key>
    <string>L_.s_v.glif</string>
    <key>L.salt</key>
    <string>L_.salt.glif</string>
    <key>L.salt_s_v</key>
    <string>L_.salt_s_v.glif</string>
    <key>L.salt_v</key>
    <string>L_.salt_v.glif</string>
    <key>L.v</key>
    <string>L_.v.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Ldot.v</key>
    <string>L_dot.v.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Lslash.salt</key>
    <string>L_slash.salt.glif</string>
    <key>Lslash.salt_v</key>
    <string>L_slash.salt_v.glif</string>
    <key>Lslash.v</key>
    <string>L_slash.v.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.salt</key>
    <string>M_.salt.glif</string>
    <key>M.salt_v</key>
    <string>M_.salt_v.glif</string>
    <key>M.v</key>
    <string>M_.v.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.s_v</key>
    <string>N_.s_v.glif</string>
    <key>N.salt</key>
    <string>N_.salt.glif</string>
    <key>N.salt_s_v</key>
    <string>N_.salt_s_v.glif</string>
    <key>N.salt_v</key>
    <string>N_.salt_v.glif</string>
    <key>N.v</key>
    <string>N_.v.glif</string>
    <key>Ncommaaccent.salt_v</key>
    <string>N_commaaccent.salt_v.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.s_v</key>
    <string>O_.s_v.glif</string>
    <key>O.v</key>
    <string>O_.v.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.v</key>
    <string>O_E_.v.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslash.v</key>
    <string>O_slash.v.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.v</key>
    <string>P_.v.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.v</key>
    <string>Q_.v.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.s_v</key>
    <string>R_.s_v.glif</string>
    <key>R.v</key>
    <string>R_.v.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.s_v</key>
    <string>S_.s_v.glif</string>
    <key>S.v</key>
    <string>S_.v.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.s_v</key>
    <string>T_.s_v.glif</string>
    <key>T.v</key>
    <string>T_.v.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tbar.v</key>
    <string>T_bar.v.glif</string>
    <key>Tcommaaccent.v</key>
    <string>T_commaaccent.v.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Thorn.v</key>
    <string>T_horn.v.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.s_v</key>
    <string>U_.s_v.glif</string>
    <key>U.v</key>
    <string>U_.v.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.v</key>
    <string>V_.v.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.s_v</key>
    <string>W_.s_v.glif</string>
    <key>W.salt</key>
    <string>W_.salt.glif</string>
    <key>W.salt_s_v</key>
    <string>W_.salt_s_v.glif</string>
    <key>W.salt_v</key>
    <string>W_.salt_v.glif</string>
    <key>W.v</key>
    <string>W_.v.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.salt</key>
    <string>X_.salt.glif</string>
    <key>X.salt_v</key>
    <string>X_.salt_v.glif</string>
    <key>X.v</key>
    <string>X_.v.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.s_v</key>
    <string>Y_.s_v.glif</string>
    <key>Y.salt</key>
    <string>Y_.salt.glif</string>
    <key>Y.salt_s_v</key>
    <string>Y_.salt_s_v.glif</string>
    <key>Y.salt_v</key>
    <string>Y_.salt_v.glif</string>
    <key>Y.v</key>
    <string>Y_.v.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.s_v</key>
    <string>Z_.s_v.glif</string>
    <key>Z.v</key>
    <string>Z_.v.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.vert</key>
    <string>acute.vert.glif</string>
    <key>acutecmb</key>
    <string>acutecmb.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.salt</key>
    <string>ampersand.salt.glif</string>
    <key>ampersand.salt_v</key>
    <string>ampersand.salt_v.glif</string>
    <key>ampersand.v</key>
    <string>ampersand.v.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowdownleft</key>
    <string>arrowdownleft.glif</string>
    <key>arrowdownright</key>
    <string>arrowdownright.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowupleft</key>
    <string>arrowupleft.glif</string>
    <key>arrowupright</key>
    <string>arrowupright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>ascript</key>
    <string>ascript.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>blackleftpointingtriangle</key>
    <string>blackleftpointingtriangle.glif</string>
    <key>blackrightpointingtriangle</key>
    <string>blackrightpointingtriangle.glif</string>
    <key>blacksquare</key>
    <string>blacksquare.glif</string>
    <key>blackuppointingtriangle</key>
    <string>blackuppointingtriangle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.v</key>
    <string>braceleft.v.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.v</key>
    <string>braceright.v.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.v</key>
    <string>bracketleft.v.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.v</key>
    <string>bracketright.v.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.2</key>
    <string>caron.2.glif</string>
    <key>caroncmb</key>
    <string>caroncmb.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacmb</key>
    <string>cedillacmb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccent.v</key>
    <string>commaaccent.v.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscmb</key>
    <string>dieresiscmb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcmb</key>
    <string>dotaccentcmb.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>eight.v</key>
    <string>eight.v.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.v</key>
    <string>emdash.v.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.v</key>
    <string>endash.v.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.sups</key>
    <string>five.sups.glif</string>
    <key>five.v</key>
    <string>five.v.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.v</key>
    <string>four.v.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.vert</key>
    <string>grave.vert.glif</string>
    <key>gravecmb</key>
    <string>gravecmb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>gscript</key>
    <string>gscript.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotleft.v</key>
    <string>guillemotleft.v.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guillemotright.v</key>
    <string>guillemotright.v.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.v</key>
    <string>guilsinglleft.v.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.v</key>
    <string>guilsinglright.v.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>horncmb</key>
    <string>horncmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.v</key>
    <string>hyphen.v.glif</string>
    <key>indexdown</key>
    <string>indexdown.glif</string>
    <key>indexdown.salt</key>
    <string>indexdown.salt.glif</string>
    <key>indexdownleft</key>
    <string>indexdownleft.glif</string>
    <key>indexdownleft.salt</key>
    <string>indexdownleft.salt.glif</string>
    <key>indexdownright</key>
    <string>indexdownright.glif</string>
    <key>indexdownright.salt</key>
    <string>indexdownright.salt.glif</string>
    <key>indexup</key>
    <string>indexup.glif</string>
    <key>indexup.salt</key>
    <string>indexup.salt.glif</string>
    <key>indexupleft</key>
    <string>indexupleft.glif</string>
    <key>indexupleft.salt</key>
    <string>indexupleft.salt.glif</string>
    <key>indexupright</key>
    <string>indexupright.glif</string>
    <key>indexupright.salt</key>
    <string>indexupright.salt.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liter</key>
    <string>liter.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncmb</key>
    <string>macroncmb.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.sups</key>
    <string>nine.sups.glif</string>
    <key>nine.v</key>
    <string>nine.v.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcmb</key>
    <string>ogonekcmb.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.v</key>
    <string>one.v.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.v</key>
    <string>parenleft.v.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.v</key>
    <string>parenright.v.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.v</key>
    <string>percent.v.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>perthousand.v</key>
    <string>perthousand.v.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteleft.salt</key>
    <string>quoteleft.salt.glif</string>
    <key>quoteleft.salt_v</key>
    <string>quoteleft.salt_v.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteright.salt</key>
    <string>quoteright.salt.glif</string>
    <key>quoteright.salt_v</key>
    <string>quoteright.salt_v.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcmb</key>
    <string>ringcmb.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.sups</key>
    <string>seven.sups.glif</string>
    <key>seven.v</key>
    <string>seven.v.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>six.v</key>
    <string>six.v.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.v</key>
    <string>three.v.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecmb</key>
    <string>tildecmb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.v</key>
    <string>two.v.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni2117</key>
    <string>uni2117.glif</string>
    <key>uni2120</key>
    <string>uni2120.glif</string>
    <key>uni21AA</key>
    <string>uni21A_A_.glif</string>
    <key>uni21AB</key>
    <string>uni21A_B_.glif</string>
    <key>uni21B0</key>
    <string>uni21B_0.glif</string>
    <key>uni21B1</key>
    <string>uni21B_1.glif</string>
    <key>uni21B2</key>
    <string>uni21B_2.glif</string>
    <key>uni21B3</key>
    <string>uni21B_3.glif</string>
    <key>uni261A</key>
    <string>uni261A_.glif</string>
    <key>uni261A.salt</key>
    <string>uni261A_.salt.glif</string>
    <key>uni261B</key>
    <string>uni261B_.glif</string>
    <key>uni261B.salt</key>
    <string>uni261B_.salt.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.v</key>
    <string>zero.v.glif</string>
  </dict>
</plist>
