<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>M</string>
		<string>N</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>equal</string>
		<string>plus</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_dash</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>equal</string>
		<string>plus</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>vertical_off</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>ampersand</string>
		<string>asterisk</string>
		<string>at</string>
		<string>colon</string>
		<string>comma</string>
		<string>eight</string>
		<string>exclam</string>
		<string>five</string>
		<string>four</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>one</string>
		<string>percent</string>
		<string>period</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>six</string>
		<string>space</string>
		<string>three</string>
		<string>two</string>
		<string>zero</string>
	</array>
	<key>vertical_sorts_off</key>
	<array>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>parenright</string>
	</array>
</dict>
</plist>
