<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>860</integer>
	<key>capHeight</key>
	<integer>720</integer>
	<key>copyright</key>
	<string>Copyright 2008 The Bungee Project Authors (david@djr.com)</string>
	<key>descender</key>
	<integer>-140</integer>
	<key>familyName</key>
	<string>Bungee</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>note</key>
	<string>ShadowMaker
169 Depth
10 thickness
140 angle</string>
	<key>openTypeNameDesigner</key>
	<string>David Jonathan Ross</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.djr.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>David Jonathan Ross</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.djr.com</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>djr </string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeVheaVertTypoAscender</key>
	<integer>860</integer>
	<key>openTypeVheaVertTypoDescender</key>
	<integer>140</integer>
	<key>openTypeVheaVertTypoLineGap</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-5</integer>
		<integer>0</integer>
		<integer>700</integer>
		<integer>705</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Bungee is a trademark of The Font Bureau.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
