/* reset */
* {
    border: none;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    padding: 1em;
}

.bungee .regular {
    color: #CCC;
}

.bungee .outline {
    color: #1ff80b;
}

.bungee .inline {
    color: #7e4123;
}

.bungee .shade {
    color: #0e1428;
}
