/* Styles specific to the typesetter */

#typesetter * {
    border: none;
    padding: 0;
    margin: 0;
}

#typesetter {
    background-color: #DDD;
    padding: 1em;
}

#typesetter #controls > * {
    padding-bottom: 0.5em;
}

#typesetter #controls label + label {
    padding-left: 1em;
}

#typesetter #shape-controls li {
    list-style-type: none;
    display: inline;
    font-family: "Bungee Inline";
    font-size: 2em;
}

#typesetter #shape-controls input {
    display: none;
}

#typesetter #shape-controls input + label {
    display: inline-block;
    padding: 0.25em;
}

#typesetter #shape-controls input:checked + label {
    background-color: white;
}

#typesetter .preview.vertical {
    float: left;
    margin-right: 0.25in;
}

#typesetter .preview.vertical + :not(.preview) {
    clear: left;
}

#typesetter #svg {
    display: inline-block;
    border: 1px solid black;
}

#typesetter #code {
    font-family: monospace;
    padding: 1em;
    border: 1px solid black;
    white-space: pre;
    overflow: auto;
}

#typesetter .bungee {
    display: inline-block;
    padding: 0.25in;
    border: 1px solid black;
}

#typesetter .bungee .regular {
    color: white;
}

#typesetter .bungee .outline {
    color: #b2c021;
}

#typesetter .bungee .inline {
    color: #7e1414;
}

#typesetter .bungee .shade {
    color: #513620;
}

#typesetter .bungee .background.regular {
    color: #7e1414;
}

#typesetter .bungee .background.outline {
    color: #b2c021;
}
